{% schema %}
{
    "name": "TP- Faq",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Título",
            "default": "Benefícios Combinados"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Cor do Fundo",
            "default": "#00AF85"
        },
        {
            "type": "text",
            "id": "description",
            "label": "Descrição",
            "default": "descrição aqui"
        }
    ],
    "blocks": [
        {
            "type": "faq",
            "name": "FAQ",
            "settings": [
                {
                    "type": "text",
                    "id": "faq_pergunta",
                    "label": "Pergunta",
                    "default": "A b.Box possui garantia?"
                },
                {
                    "type": "richtext",
                    "id": "faq_resposta",
                    "label": "Resposta"
                },
                {
                    "type": "image_picker",
                    "id": "faq_bg",
                    "label": "Background do Bloco"
                }
            ]
        }
    ],
    "presets": [
        {"name": "TP- Faq"}
    ]
}
{% endschema %}

<div class="faq-container" style="background-color:{{ section.settings.background_color }};">
    <div class="page-width">
        <div class="faq-container__content">
            <div class="faq-container__title">
                <h1 class="faq-title">{{ section.settings.title }}</h1>
                <p class="faq-description">{{ section.settings.description }}</p>
            </div>
            <div class="faq-container__faqs">
                {% for block in section.blocks %}
                    <div class="faq-container__faq" style="background-image: url({{ block.settings.faq_bg | image_url }}); background-position: center; background-size: cover; background-repeat: no-repeat;">
                        <div class="question" onclick="toggleFAQ('faq-answer-{{ forloop.index0 }}')">
                            <span>{{ block.settings.faq_pergunta }}</span>
                            <span style="font-size: 2.4rem;">+</span>
                        </div>
                        <div id="faq-answer-{{ forloop.index0 }}" class="answer">
                            {{ block.settings.faq_resposta }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% style %}
.faq-container {
    padding: 2rem 1.6rem;
    color: white;
}
.faq-container__title {
    text-align: center;
}
.faq-container__title h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.faq-description {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.faq-container__faqs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.faq-container__faq {
    border-radius: 1rem;
    overflow: hidden;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.answer {
    display: none;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

@media screen and (min-width: 728px) {
    .faq-container {
        padding: 4rem 2rem;
    }
    .faq-container__title h1 {
        font-size: 3rem;
    }
    .faq-description {
        font-size: 1.5rem;
    }
    .faq-container__faqs {
        gap: 1.5rem;
    }
}
{% endstyle %}

<script>
function toggleFAQ(answerId) {
    var answer = document.getElementById(answerId);
    var question = answer.previousElementSibling; // Pega o elemento da pergunta diretamente antes da resposta

    // Alterna a visibilidade da resposta
    var isAnswerOpen = answer.style.display === 'block';
    answer.style.display = isAnswerOpen ? 'none' : 'block';

    // Alterna a cor de fundo da pergunta
    question.style.backgroundColor = isAnswerOpen ? 'rgba(0, 0, 0, 0.5)' : 'rgba(0, 0, 0, 0.7)';
    question.style.color = isAnswerOpen ? 'white' : 'yellow';
}
</script>
