
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-513864021745599334.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-513864021745599334.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-513864021745599334.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-513864021745599334.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-513864021745599334.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-513864021745599334.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-513864021745599334.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-513864021745599334.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-513864021745599334.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-513864021745599334.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-513864021745599334.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-513864021745599334.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-513864021745599334.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-513864021745599334.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-513864021745599334.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-513864021745599334.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-513864021745599334.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-513864021745599334.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-513864021745599334.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-513864021745599334.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-513864021745599334.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-513864021745599334.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-513864021745599334.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-513864021745599334.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-513864021745599334.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-513864021745599334.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-513864021745599334.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-513864021745599334.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-513864021745599334.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-513864021745599334.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-513864021745599334.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-513864021745599334.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-513864021745599334.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-513864021745599334.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-513864021745599334.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-513864021745599334.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-513864021745599334.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-513864021745599334.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-513864021745599334.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-513864021745599334.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-513864021745599334.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-513864021745599334.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-513864021745599334.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-513864021745599334.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-513864021745599334.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-513864021745599334.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-513864021745599334.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-513864021745599334.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-513864021745599334.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-513864021745599334.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-513864021745599334.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-513864021745599334.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-513864021745599334.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-513864021745599334.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-513864021745599334.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-513864021745599334.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-513864021745599334.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-513864021745599334.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-513864021745599334.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-513864021745599334.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-513864021745599334.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-513864021745599334.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-513864021745599334.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-513864021745599334.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-513864021745599334.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-513864021745599334.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-513864021745599334.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-513864021745599334.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-513864021745599334.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-513864021745599334.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-513864021745599334.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-513864021745599334.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-513864021745599334.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-513864021745599334.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-513864021745599334.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-513864021745599334.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-513864021745599334.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-513864021745599334.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-513864021745599334.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-513864021745599334.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-513864021745599334.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-513864021745599334.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-513864021745599334.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-513864021745599334.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-513864021745599334.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-513864021745599334.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-513864021745599334.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-513864021745599334.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-513864021745599334.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-513864021745599334.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-513864021745599334 .gp-rotate-0,.gps-513864021745599334 .gp-rotate-180,.gps-513864021745599334 .mobile\:gp-rotate-0,.gps-513864021745599334 .mobile\:gp-rotate-180,.gps-513864021745599334 .tablet\:gp-rotate-0,.gps-513864021745599334 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-513864021745599334 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-513864021745599334 .gp-static{position:static}.gps-513864021745599334 .gp-relative{position:relative}.gps-513864021745599334 .gp-left-0{left:0}.gps-513864021745599334 .gp-right-0{right:0}.gps-513864021745599334 .gp-z-1{z-index:1}.gps-513864021745599334 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-513864021745599334 .gp-my-0{margin-bottom:0;margin-top:0}.gps-513864021745599334 .gp-mb-0{margin-bottom:0}.gps-513864021745599334 .gp-block{display:block}.gps-513864021745599334 .\!gp-inline{display:inline!important}.gps-513864021745599334 .gp-flex{display:flex}.gps-513864021745599334 .gp-grid{display:grid}.gps-513864021745599334 .\!gp-hidden{display:none!important}.gps-513864021745599334 .gp-hidden{display:none}.gps-513864021745599334 .gp-aspect-square{aspect-ratio:1/1}.gps-513864021745599334 .gp-h-full{height:100%}.gps-513864021745599334 .\!gp-min-h-full{min-height:100%!important}.gps-513864021745599334 .gp-w-\[12px\]{width:12px}.gps-513864021745599334 .gp-w-full{width:100%}.gps-513864021745599334 .gp-max-w-full{max-width:100%}.gps-513864021745599334 .gp-shrink-0{flex-shrink:0}.gps-513864021745599334 .gp-rotate-0{--tw-rotate:0deg}.gps-513864021745599334 .gp-rotate-0,.gps-513864021745599334 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-513864021745599334 .gp-rotate-180{--tw-rotate:180deg}.gps-513864021745599334 .gp-cursor-pointer{cursor:pointer}.gps-513864021745599334 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-513864021745599334 .\!gp-flex-row{flex-direction:row!important}.gps-513864021745599334 .gp-flex-row{flex-direction:row}.gps-513864021745599334 .gp-flex-col{flex-direction:column}.gps-513864021745599334 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-513864021745599334 .gp-items-center{align-items:center}.gps-513864021745599334 .gp-justify-center{justify-content:center}.gps-513864021745599334 .gp-justify-between{justify-content:space-between}.gps-513864021745599334 .gp-gap-2{gap:8px}.gps-513864021745599334 .gp-gap-y-0{row-gap:0}.gps-513864021745599334 .gp-overflow-hidden{overflow:hidden}.gps-513864021745599334 .gp-rounded-full{border-radius:9999px}.gps-513864021745599334 .gp-text-center{text-align:center}.gps-513864021745599334 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-513864021745599334 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-513864021745599334 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-513864021745599334 .gp-duration-200{transition-duration:.2s}.gps-513864021745599334 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-513864021745599334 .tablet\:gp-static{position:static}.gps-513864021745599334 .tablet\:gp-left-0{left:0}.gps-513864021745599334 .tablet\:gp-right-0{right:0}.gps-513864021745599334 .tablet\:gp-block{display:block}.gps-513864021745599334 .tablet\:\!gp-hidden{display:none!important}.gps-513864021745599334 .tablet\:gp-hidden{display:none}.gps-513864021745599334 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-513864021745599334 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-513864021745599334 .tablet\:gp-rotate-0,.gps-513864021745599334 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-513864021745599334 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-513864021745599334 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-513864021745599334 .tablet\:gp-flex-row{flex-direction:row}.gps-513864021745599334 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-513864021745599334 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-513864021745599334 .mobile\:gp-static{position:static}.gps-513864021745599334 .mobile\:gp-left-0{left:0}.gps-513864021745599334 .mobile\:gp-right-0{right:0}.gps-513864021745599334 .mobile\:gp-block{display:block}.gps-513864021745599334 .mobile\:\!gp-hidden{display:none!important}.gps-513864021745599334 .mobile\:gp-hidden{display:none}.gps-513864021745599334 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-513864021745599334 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-513864021745599334 .mobile\:gp-rotate-0,.gps-513864021745599334 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-513864021745599334 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-513864021745599334 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-513864021745599334 .mobile\:gp-flex-row{flex-direction:row}.gps-513864021745599334 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-513864021745599334 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-513864021745599334 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-513864021745599334 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-513864021745599334 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-513864021745599334 .\[\&_p\]\:gp-inline p{display:inline}.gps-513864021745599334 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-513864021745599334 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage id="gg_yFi36ZU" data-id="gg_yFi36ZU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gg_yFi36ZU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKSzAxSBSi gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel data-id="gDBJxcXw5z"  id="gp-root-carousel-gDBJxcXw5z-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gDBJxcXw5z-{{section.id}}","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":true,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"#B3D825","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 6","Slide 5","Slide 4","Slide 3","Slide 7","Slide 8"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12},"dotStyle":{"desktop":"outside"},"enableDrag":{"desktop":false},"itemNumber":{"desktop":4,"mobile":2},"label":true,"loop":{"desktop":true},"navigationStyle":{"desktop":"none"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false,"mobile":false},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"5px","color":"#121212","distance":"0px","spread":"5px","type":"custom"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"playSpeed":500,"roundedContent":{"bblr":"18px","bbrr":"18px","btlr":"18px","btrr":"18px","radiusType":"custom"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"default"},"mobile":{"customShapeValue":"","gap":"","height":"auto","shape":"","shapeLinked":false,"shapeValue":"","width":"100%"}},"spacing":{"desktop":16}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gDBJxcXw5z"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;--mb-mobile:0px;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:auto;--h-tablet:auto;--h-mobile:auto;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-carousel-action-back gem-slider-previous gDBJxcXw5z-{{section.id}} gp-carousel-arrow-gDBJxcXw5z gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:none;--d-tablet:none;--d-mobile:none;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gDBJxcXw5z {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gDBJxcXw5z::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-gDBJxcXw5z {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gDBJxcXw5z::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gDBJxcXw5z {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gDBJxcXw5z::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gDBJxcXw5z-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#B3D825;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 2 - 8px);--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gDBJxcXw5z gIq7Pm1unE"
      data-index="0"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="CarouselItem" id="gBeVYgC1_U" data-id="gBeVYgC1_U"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBeVYgC1_U gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwbH0-Jmq9 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="ga9RUcblOl" data-id="ga9RUcblOl"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--pb:18px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ga9RUcblOl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gczgDZXjwP gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gqgvEZHwfn"
    role="presentation"
    class="gp-group/image gqgvEZHwfn"
    style="--b:solid;--bc:#121212;--bw:1px 1px 0px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "509069249558348903-1b75b194-8345-40bb-981d-acd206f8224f.jpg" | file_url }}" data-srcset="{{ '509069249558348903-1b75b194-8345-40bb-981d-acd206f8224f.jpg' | file_img_url: '768x' }} 768w, {{ '509069249558348903-1b75b194-8345-40bb-981d-acd206f8224f.jpg' | file_img_url: '1024x' }} 1024w, {{ '509069249558348903-1b75b194-8345-40bb-981d-acd206f8224f.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTYwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="600" height="600" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:600/600;--aspect-tablet:600/600;--aspect-mobile:600/600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  <gp-text data-id="g9aPWRNz5n">
    <div
      enableLazyloadImage parentTag="Col"
        class="g9aPWRNz5n "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--ls:1px;--size:31px;--size-tablet:46px;--size-mobile:20px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.gg9aPWRNz5n_text_html" | t }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gF869g4lRm">
    <div
      enableLazyloadImage parentTag="Col"
        class="gF869g4lRm "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggF869g4lRm_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#B3D825;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 2 - 8px);--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gDBJxcXw5z gcoyDwUo9G"
      data-index="1"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="CarouselItem" id="gYwCwL7d9o" data-id="gYwCwL7d9o"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYwCwL7d9o gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gk0OQzkA1z gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gAD4QLKklL" data-id="gAD4QLKklL"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAD4QLKklL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHkGZfvPmD gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gE90oBqO0Z"
    role="presentation"
    class="gp-group/image gE90oBqO0Z"
    style="--b:solid;--bc:#121212;--bw:1px 1px 0px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "509069249558348903-0918dd8b-5191-44a2-8b5a-9e6f718682ce.jpg" | file_url }}" data-srcset="{{ '509069249558348903-0918dd8b-5191-44a2-8b5a-9e6f718682ce.jpg' | file_img_url: '768x' }} 768w, {{ '509069249558348903-0918dd8b-5191-44a2-8b5a-9e6f718682ce.jpg' | file_img_url: '1024x' }} 1024w, {{ '509069249558348903-0918dd8b-5191-44a2-8b5a-9e6f718682ce.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTYwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="600" height="600" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:600/600;--aspect-tablet:600/600;--aspect-mobile:600/600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  <gp-text data-id="gvPNhrTai_">
    <div
      enableLazyloadImage parentTag="Col"
        class="gvPNhrTai_ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--ls:1px;--size:31px;--size-tablet:46px;--size-mobile:20px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggvPNhrTai__text_html" | t }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gaWrmUdXH8">
    <div
      enableLazyloadImage parentTag="Col"
        class="gaWrmUdXH8 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggaWrmUdXH8_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#B3D825;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 2 - 8px);--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gDBJxcXw5z guJD21UDYx"
      data-index="2"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="CarouselItem" id="gWEug-_XFx" data-id="gWEug-_XFx"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWEug-_XFx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjUcvTkJsU gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="g3nw9V7dJy" data-id="g3nw9V7dJy"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3nw9V7dJy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCOKFCHi2v gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gLlTzP3l9E"
    role="presentation"
    class="gp-group/image gLlTzP3l9E"
    style="--b:solid;--bc:#121212;--bw:1px 1px 0px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "509069249558348903-dc081f1b-6664-4dea-9f9f-1ffd7ec2df28.jpg" | file_url }}" data-srcset="{{ '509069249558348903-dc081f1b-6664-4dea-9f9f-1ffd7ec2df28.jpg' | file_img_url: '768x' }} 768w, {{ '509069249558348903-dc081f1b-6664-4dea-9f9f-1ffd7ec2df28.jpg' | file_img_url: '1024x' }} 1024w, {{ '509069249558348903-dc081f1b-6664-4dea-9f9f-1ffd7ec2df28.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTYwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="600" height="600" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:600/600;--aspect-tablet:600/600;--aspect-mobile:600/600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  <gp-text data-id="gT8n4Mva3h">
    <div
      enableLazyloadImage parentTag="Col"
        class="gT8n4Mva3h "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--size:31px;--size-tablet:46px;--size-mobile:20px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggT8n4Mva3h_text_html" | t }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="g-tukKr_Pq">
    <div
      enableLazyloadImage parentTag="Col"
        class="g-tukKr_Pq "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;--pt-mobile:5px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.gg-tukKr_Pq_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#B3D825;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 2 - 8px);--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gDBJxcXw5z ggm8RH9xGw"
      data-index="3"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="CarouselItem" id="gSOKBgIX2l" data-id="gSOKBgIX2l"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSOKBgIX2l gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gb-q6-0Ug_ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gbwxqCBxn_" data-id="gbwxqCBxn_"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbwxqCBxn_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-O8m-Q2px gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g6emxAHZLn"
    role="presentation"
    class="gp-group/image g6emxAHZLn"
    style="--b:solid;--bc:#121212;--bw:1px 1px 0px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "509069249558348903-540bc3c6-077f-42fa-ad31-6d23aa7dfcc0.jpg" | file_url }}" data-srcset="{{ '509069249558348903-540bc3c6-077f-42fa-ad31-6d23aa7dfcc0.jpg' | file_img_url: '768x' }} 768w, {{ '509069249558348903-540bc3c6-077f-42fa-ad31-6d23aa7dfcc0.jpg' | file_img_url: '1024x' }} 1024w, {{ '509069249558348903-540bc3c6-077f-42fa-ad31-6d23aa7dfcc0.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTYwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="600" height="600" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:600/600;--aspect-tablet:600/600;--aspect-mobile:600/600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  <gp-text data-id="gvU0EgKjON">
    <div
      enableLazyloadImage parentTag="Col"
        class="gvU0EgKjON "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--size:31px;--size-tablet:46px;--size-mobile:20px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggvU0EgKjON_text_html" | t }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gHqnN1H1VA">
    <div
      enableLazyloadImage parentTag="Col"
        class="gHqnN1H1VA "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggHqnN1H1VA_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#B3D825;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 2 - 8px);--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gDBJxcXw5z g4wmBuZzbp"
      data-index="4"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="CarouselItem" id="gtr4WR7iMJ" data-id="gtr4WR7iMJ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtr4WR7iMJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gneZ7JOEHq gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="glIRHAWgOA" data-id="glIRHAWgOA"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glIRHAWgOA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gft8vs1fyy gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g2Az24RaWc"
    role="presentation"
    class="gp-group/image g2Az24RaWc"
    style="--b:solid;--bc:#121212;--bw:1px 1px 0px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "509069249558348903-35d60a77-dd20-419d-8101-3d11a17ca058.jpg" | file_url }}" data-srcset="{{ '509069249558348903-35d60a77-dd20-419d-8101-3d11a17ca058.jpg' | file_img_url: '768x' }} 768w, {{ '509069249558348903-35d60a77-dd20-419d-8101-3d11a17ca058.jpg' | file_img_url: '1024x' }} 1024w, {{ '509069249558348903-35d60a77-dd20-419d-8101-3d11a17ca058.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTYwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="600" height="600" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:600/600;--aspect-tablet:600/600;--aspect-mobile:600/600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  <gp-text data-id="gBWZWG3nAP">
    <div
      enableLazyloadImage parentTag="Col"
        class="gBWZWG3nAP "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--size:31px;--size-tablet:46px;--size-mobile:20px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggBWZWG3nAP_text_html" | t }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gDzRXmZbOY">
    <div
      enableLazyloadImage parentTag="Col"
        class="gDzRXmZbOY "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;--pt-mobile:5px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggDzRXmZbOY_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#B3D825;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 2 - 8px);--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gDBJxcXw5z gyRwZTtNr_"
      data-index="5"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="CarouselItem" id="gQ0pWwdVc8" data-id="gQ0pWwdVc8"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQ0pWwdVc8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQs-Ll4vJb gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gqiRQZ0dLI" data-id="gqiRQZ0dLI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqiRQZ0dLI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glmsKDDdU7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gG72UF6QzC"
    role="presentation"
    class="gp-group/image gG72UF6QzC"
    style="--b:solid;--bc:#121212;--bw:1px 1px 0px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "509069249558348903-c28368a8-c843-403c-ac31-f9ce94959447.jpg" | file_url }}" data-srcset="{{ '509069249558348903-c28368a8-c843-403c-ac31-f9ce94959447.jpg' | file_img_url: '768x' }} 768w, {{ '509069249558348903-c28368a8-c843-403c-ac31-f9ce94959447.jpg' | file_img_url: '1024x' }} 1024w, {{ '509069249558348903-c28368a8-c843-403c-ac31-f9ce94959447.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTYwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="600" height="600" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:600/600;--aspect-tablet:600/600;--aspect-mobile:600/600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  <gp-text data-id="gXMXVXkL7i">
    <div
      enableLazyloadImage parentTag="Col"
        class="gXMXVXkL7i "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--size:31px;--size-tablet:46px;--size-mobile:20px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggXMXVXkL7i_text_html" | t }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gkpQOUYw2b">
    <div
      enableLazyloadImage parentTag="Col"
        class="gkpQOUYw2b "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggkpQOUYw2b_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#B3D825;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 2 - 8px);--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gDBJxcXw5z gN0lvb5Jwg"
      data-index="6"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="CarouselItem" id="g57AlP-cFK" data-id="g57AlP-cFK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g57AlP-cFK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvz8aBUqHr gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="ghxSxVKEPR" data-id="ghxSxVKEPR"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghxSxVKEPR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7KhTLgOl4 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gcgrftIsnH"
    role="presentation"
    class="gp-group/image gcgrftIsnH"
    style="--b:solid;--bc:#121212;--bw:1px 1px 0px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "509069249558348903-e93068fa-d5a6-4f2a-bef0-48ecb0036eda.jpg" | file_url }}" data-srcset="{{ '509069249558348903-e93068fa-d5a6-4f2a-bef0-48ecb0036eda.jpg' | file_img_url: '768x' }} 768w, {{ '509069249558348903-e93068fa-d5a6-4f2a-bef0-48ecb0036eda.jpg' | file_img_url: '1024x' }} 1024w, {{ '509069249558348903-e93068fa-d5a6-4f2a-bef0-48ecb0036eda.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTYwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="600" height="600" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:600/600;--aspect-tablet:600/600;--aspect-mobile:600/600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  <gp-text data-id="gcIl542Owx">
    <div
      enableLazyloadImage parentTag="Col"
        class="gcIl542Owx "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--size:31px;--size-tablet:46px;--size-mobile:20px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggcIl542Owx_text_html" | t }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gbMfK1TlUu">
    <div
      enableLazyloadImage parentTag="Col"
        class="gbMfK1TlUu "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggbMfK1TlUu_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      enableLazyloadImage label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:#B3D825;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 2 - 8px);--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gDBJxcXw5z gq2Gtu10lg"
      data-index="7"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="CarouselItem" id="gnEkY8e4xJ" data-id="gnEkY8e4xJ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnEkY8e4xJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDAlaPq-z4 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gX0TIxHRV3" data-id="gX0TIxHRV3"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:18px;--bbrr:18px;--btlr:18px;--btrr:18px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gX0TIxHRV3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwUolgRPCc gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gPyMBMsQdY"
    role="presentation"
    class="gp-group/image gPyMBMsQdY"
    style="--b:solid;--bc:#121212;--bw:1px 1px 0px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "509069249558348903-1eb28c16-9618-4ebb-80ce-3d0ef8d7df0f.jpg" | file_url }}" data-srcset="{{ '509069249558348903-1eb28c16-9618-4ebb-80ce-3d0ef8d7df0f.jpg' | file_img_url: '768x' }} 768w, {{ '509069249558348903-1eb28c16-9618-4ebb-80ce-3d0ef8d7df0f.jpg' | file_img_url: '1024x' }} 1024w, {{ '509069249558348903-1eb28c16-9618-4ebb-80ce-3d0ef8d7df0f.jpg' | file_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTYwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="600" height="600" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:600/600;--aspect-tablet:600/600;--aspect-mobile:600/600;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
    />
  
      </div>
  </div>
  <gp-text data-id="gP7Yf5bqwB">
    <div
      enableLazyloadImage parentTag="Col"
        class="gP7Yf5bqwB "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--size:31px;--size-tablet:46px;--size-mobile:20px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--radius:var(--g-radius-none);overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggP7Yf5bqwB_text_html" | t }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gnYX8kc9Z5">
    <div
      enableLazyloadImage parentTag="Col"
        class="gnYX8kc9Z5 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;--mb-mobile:12px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:18px;--btrr:18px;overflow:hidden"
        >{{ "sections.gp-global-section-513864021745599334.ggnYX8kc9Z5_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-carousel-action-next gem-slider-next gDBJxcXw5z-{{section.id}} gp-carousel-arrow-gDBJxcXw5z gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:none;--d-tablet:none;--d-mobile:none;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gDBJxcXw5z {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gDBJxcXw5z::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-gDBJxcXw5z {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gDBJxcXw5z::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gDBJxcXw5z {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gDBJxcXw5z::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gDBJxcXw5z-{{section.id}} gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--mt:16px;--mt-tablet:16px;--mt-mobile:16px;--d:flex;--d-tablet:flex;--d-mobile:flex"
 ></div>
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    "presets": [{ "name": "Section - May 15 20:40:19" }],
    "name": "Section - May 15 20:40:19",
    "tag": "section",
    "class": "gps-513864021745599334 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=513864021745599334)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"pt-BR":{"gg9aPWRNz5n_text_html":"Spirullina e<br>Chlorella","ggF869g4lRm_text_html":"<p>Possuem propriedades&nbsp;</p><p>anti-inflamatrias e antioxidantes.</p>","ggvPNhrTai__text_html":"Beta Glucana","ggaWrmUdXH8_text_html":"<p>Auxilia no equilbrio da microbiota intestinal, contribuindo para uma&nbsp;</p><p>melhora na digesto.</p>","ggT8n4Mva3h_text_html":"Biotina","gg-tukKr_Pq_text_html":"<p>Ajuda a regular os nveis&nbsp;</p><p>de glicose no sangue e&nbsp;</p><p>auxilia na sade da pele</p><p>e do cabelo.</p>","ggvU0EgKjON_text_html":"Stevia","ggHqnN1H1VA_text_html":"<p>Possuem propriedades&nbsp;</p><p>anti-inflamatrias e antioxidantes.</p>","ggBWZWG3nAP_text_html":"Mix de Greens &amp; Superfoods","ggDzRXmZbOY_text_html":"<p>limo, espinafre, couve,&nbsp;</p><p>gengibre, ch verde.</p>","ggXMXVXkL7i_text_html":"Coenzima Q10","ggkpQOUYw2b_text_html":"<p>Auxilia a melhora do desempenho muscular e reduo da fadiga,&nbsp;</p><p>favorecendo a prtica&nbsp;</p><p>de exerccios fsicos.</p>","ggcIl542Owx_text_html":"Extrato de Crcuma","ggbMfK1TlUu_text_html":"<p>Aumento do metabolismo</p><p>e reduo da compulso&nbsp;</p><p>por carboidratos.</p>","ggP7Yf5bqwB_text_html":"Mix de Greens &amp; Superfoods","ggnYX8kc9Z5_text_html":"<p>limo, espinafre, couve,</p><p>gengibre, ch verde.</p><p>Aumento do metabolismo</p><p>ereduo da compulso</p><p>por carboidratos.</p>"}}
  }
{% endschema %}
