
{% render 'gp-head', 'isThemeSection: true' %}
<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-514563501394494476.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-514563501394494476.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-514563501394494476.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-514563501394494476.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-514563501394494476.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-514563501394494476.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-514563501394494476.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-514563501394494476.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-514563501394494476.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-514563501394494476.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-514563501394494476.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-514563501394494476.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-514563501394494476.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-514563501394494476.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-514563501394494476.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-514563501394494476.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-514563501394494476.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-514563501394494476.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-514563501394494476.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-514563501394494476.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-514563501394494476.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-514563501394494476.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-514563501394494476.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-514563501394494476.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-514563501394494476.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-514563501394494476.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-514563501394494476.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-514563501394494476.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-514563501394494476.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-514563501394494476.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-514563501394494476.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-514563501394494476.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-514563501394494476.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-514563501394494476.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-514563501394494476.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-514563501394494476.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-514563501394494476.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-514563501394494476.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-514563501394494476.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-514563501394494476.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-514563501394494476.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-514563501394494476.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-514563501394494476.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-514563501394494476.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-514563501394494476.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-514563501394494476.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-514563501394494476.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-514563501394494476.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-514563501394494476.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-514563501394494476.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-514563501394494476.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-514563501394494476.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-514563501394494476.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-514563501394494476.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-514563501394494476.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-514563501394494476.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-514563501394494476.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-514563501394494476.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-514563501394494476.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-514563501394494476.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-514563501394494476.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-514563501394494476.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-514563501394494476.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-514563501394494476.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-514563501394494476.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-514563501394494476.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-514563501394494476.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-514563501394494476.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-514563501394494476.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-514563501394494476.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-514563501394494476.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-514563501394494476.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-514563501394494476.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-514563501394494476.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-514563501394494476.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-514563501394494476.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-514563501394494476.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-514563501394494476.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-514563501394494476.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-514563501394494476.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-514563501394494476.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-514563501394494476.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-514563501394494476.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-514563501394494476.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-514563501394494476.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-514563501394494476.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-514563501394494476.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-514563501394494476 .focus\:\!gp-shadow-none,.gps-514563501394494476 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-514563501394494476 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-514563501394494476 .\!gp-g-s-medium{padding:8px 24px!important}.gps-514563501394494476 .gp-fixed{position:fixed}.gps-514563501394494476 .gp-relative{position:relative}.gps-514563501394494476 .gp-top-\[27px\]{top:27px}.gps-514563501394494476 .gp-z-1{z-index:1}.gps-514563501394494476 .gp-z-100{z-index:100}.gps-514563501394494476 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-514563501394494476 .gp-mb-0{margin-bottom:0}.gps-514563501394494476 .gp-block{display:block}.gps-514563501394494476 .gp-flex{display:flex}.gps-514563501394494476 .gp-inline-flex{display:inline-flex}.gps-514563501394494476 .gp-grid{display:grid}.gps-514563501394494476 .gp-contents{display:contents}.gps-514563501394494476 .\!gp-hidden{display:none!important}.gps-514563501394494476 .gp-hidden{display:none}.gps-514563501394494476 .\!gp-h-auto{height:auto!important}.gps-514563501394494476 .gp-h-full{height:100%}.gps-514563501394494476 .gp-w-full{width:100%}.gps-514563501394494476 .gp-max-w-full{max-width:100%}.gps-514563501394494476 .gp-flex-none{flex:none}.gps-514563501394494476 .gp-shrink-0{flex-shrink:0}.gps-514563501394494476 .gp-flex-col{flex-direction:column}.gps-514563501394494476 .gp-items-center{align-items:center}.gps-514563501394494476 .gp-justify-start{justify-content:flex-start}.gps-514563501394494476 .gp-justify-center{justify-content:center}.gps-514563501394494476 .gp-gap-y-0{row-gap:0}.gps-514563501394494476 .gp-overflow-hidden{overflow:hidden}.gps-514563501394494476 .gp-break-words{overflow-wrap:break-word}.gps-514563501394494476 .gp-rounded{border-radius:4px}.gps-514563501394494476 .gp-rounded-none{border-radius:0}.gps-514563501394494476 .\!gp-bg-none{background-image:none!important}.gps-514563501394494476 .gp-p-\[16px\]{padding:16px}.gps-514563501394494476 .gp-text-center{text-align:center}.gps-514563501394494476 .gp-text-\[14px\]{font-size:14px}.gps-514563501394494476 .gp-leading-\[0\]{line-height:0}.gps-514563501394494476 .gp-leading-normal{line-height:1.5}.gps-514563501394494476 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-514563501394494476 .gp-no-underline{text-decoration-line:none}.gps-514563501394494476 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-514563501394494476 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-514563501394494476 .gp-duration-200{transition-duration:.2s}.gps-514563501394494476 .gp-duration-300{transition-duration:.3s}.gps-514563501394494476 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-514563501394494476 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-514563501394494476 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-514563501394494476 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-514563501394494476 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-514563501394494476 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-514563501394494476 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-514563501394494476 .tablet\:gp-block{display:block}.gps-514563501394494476 .tablet\:\!gp-hidden{display:none!important}.gps-514563501394494476 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-514563501394494476 .mobile\:gp-block{display:block}.gps-514563501394494476 .mobile\:\!gp-hidden{display:none!important}.gps-514563501394494476 .mobile\:gp-hidden{display:none}}.gps-514563501394494476 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-514563501394494476 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-514563501394494476 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-514563501394494476 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-514563501394494476 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-514563501394494476 .\[\&_p\]\:gp-inline p{display:inline}.gps-514563501394494476 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-514563501394494476 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-514563501394494476 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage id="gmA5UFz26d" data-id="gmA5UFz26d"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:20px;--pl:60px;--pb:0px;--pr:60px;--pt-tablet:var(--g-s-4xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#3D4326;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmA5UFz26d gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0EIi7yLjJ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gF2D2Q2z8i" data-id="gF2D2Q2z8i"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:var(--g-s-3xl);--pl-tablet:15px;--pr-tablet:15px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gF2D2Q2z8i gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5ofDaBPMr gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gWam_sj-qD" data-id="gWam_sj-qD"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWam_sj-qD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gruRogV9r6 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:28px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:13px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    
  >
    <style>
    .gcKIcM50zP.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
    }

    .gcKIcM50zP:hover::before {
      
      
    }

    .gcKIcM50zP:hover .gp-button-icon {
      color: #121212;
    }

     .gcKIcM50zP .gp-button-icon {
      color: #121212;
    }

    .gcKIcM50zP:hover .gp-button-price {
      color: #121212;
    }

    .gcKIcM50zP .gp-button-price {
      color: #121212;
    }

    .gcKIcM50zP .gp-product-dot-price {
       color: #121212;
    }

    .gcKIcM50zP:hover .gp-product-dot-price {
      color: #121212;
    }
  </style>
    <a
      href="https://www.instagram.com/vivajui/" target="_self" data-id="gcKIcM50zP" aria-label="Siga-nos no Instagram"
      
      data-state="idle"
      class="gcKIcM50zP gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#B3D825;--bg:#B3D825;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:10px;--pb:10px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:5px;--pb-mobile:5px;--hvr-c:#121212;--c:#121212;--size:22px;--size-tablet:16px;--size-mobile:15px;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817577248620904">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,72a24,24,0,1,1,24-24A24,24,0,0,1,128,152ZM176,20H80A60.07,60.07,0,0,0,20,80v96a60.07,60.07,0,0,0,60,60h96a60.07,60.07,0,0,0,60-60V80A60.07,60.07,0,0,0,176,20Zm36,156a36,36,0,0,1-36,36H80a36,36,0,0,1-36-36V80A36,36,0,0,1,80,44h96a36,36,0,0,1,36,36ZM196,76a16,16,0,1,1-16-16A16,16,0,0,1,196,76Z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:22px;--size-tablet:16px;--size-mobile:15px"
      >
        {{ "sections.gp-global-section-514563501394494476.ggcKIcM50zP_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>
<div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:12px;--pb:12px" class="gDxv2Df4W3 ">
      
    <div
    data-id="gDxv2Df4W3"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#ffffff"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#ffffff;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#ffffff;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#ffffff;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gLWZwFVZI7" data-id="gLWZwFVZI7"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:1200%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLWZwFVZI7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcqnNvjI3m gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gcBy3l3pqj"
    role="presentation"
    class="gp-group/image gcBy3l3pqj"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--ta:left;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left;--jc-mobile:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "509069249558348903-b1d63148-89a9-4748-8951-7e67bee1ebc1_768x.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUzIiBoZWlnaHQ9IjM1MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzUzLTM1MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzUzIiBoZWlnaHQ9IjM1MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzUzIiBoZWlnaHQ9IjM1MyIgZmlsbD0idXJsKCNnLTM1My0zNTMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNTMiIHRvPSIzNTMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "509069249558348903-b1d63148-89a9-4748-8951-7e67bee1ebc1_1024x.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUzIiBoZWlnaHQ9IjM1MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzUzLTM1MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzUzIiBoZWlnaHQ9IjM1MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzUzIiBoZWlnaHQ9IjM1MyIgZmlsbD0idXJsKCNnLTM1My0zNTMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNTMiIHRvPSIzNTMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUzIiBoZWlnaHQ9IjE2NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzUzLTE2NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzUzIiBoZWlnaHQ9IjE2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzUzIiBoZWlnaHQ9IjE2NyIgZmlsbD0idXJsKCNnLTM1My0xNjcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNTMiIHRvPSIzNTMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "509069249558348903-b1d63148-89a9-4748-8951-7e67bee1ebc1.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gcBy3l3pqj">
        .gcBy3l3pqj {

}
.gcBy3l3pqj > figure > img {

}
      </style>
    
  <gp-text data-id="g1suClLZQ1">
    <div
      enableLazyloadImage parentTag="Col"
        class="g1suClLZQ1 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#AAAAAA;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-514563501394494476.gg1suClLZQ1_text_html" | t }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g1suClLZQ1">
        .g1suClLZQ1 {

}
.g1suClLZQ1 p {

}
      </style>
    
    </div><div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8XrEpQT75 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="g3x6gxMGDY">
    <div
      enableLazyloadImage parentTag="Col"
        class="g3x6gxMGDY "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--c:#ffffff;--fs:normal;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-global-section-514563501394494476.gg3x6gxMGDY_text_html" | t }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:0px;--mb:10px;--mt-mobile:0px;--pb-mobile:5px;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .g_tvwuOpEh.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .g_tvwuOpEh:hover::before {
      
      
    }

    .g_tvwuOpEh:hover .gp-button-icon {
      color: undefined;
    }

     .g_tvwuOpEh .gp-button-icon {
      color: #AAAAAA;
    }

    .g_tvwuOpEh:hover .gp-button-price {
      color: undefined;
    }

    .g_tvwuOpEh .gp-button-price {
      color: #AAAAAA;
    }

    .g_tvwuOpEh .gp-product-dot-price {
       color: #AAAAAA;
    }

    .g_tvwuOpEh:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://97a454-43.myshopify.com/" target="_self" data-id="g_tvwuOpEh" aria-label="CONHECA A JUI"
      
      data-state="idle"
      class="g_tvwuOpEh gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#AAAAAA"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ "sections.gp-global-section-514563501394494476.gg_tvwuOpEh_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:0px;--mb:10px;--mt-mobile:0px;--pb-mobile:5px;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gaOGGDdHxR.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gaOGGDdHxR:hover::before {
      
      
    }

    .gaOGGDdHxR:hover .gp-button-icon {
      color: undefined;
    }

     .gaOGGDdHxR .gp-button-icon {
      color: #AAAAAA;
    }

    .gaOGGDdHxR:hover .gp-button-price {
      color: undefined;
    }

    .gaOGGDdHxR .gp-button-price {
      color: #AAAAAA;
    }

    .gaOGGDdHxR .gp-product-dot-price {
       color: #AAAAAA;
    }

    .gaOGGDdHxR:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://97a454-43.myshopify.com/" target="_self" data-id="gaOGGDdHxR" aria-label="VAI DE JUI"
      
      data-state="idle"
      class="gaOGGDdHxR gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#AAAAAA"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ "sections.gp-global-section-514563501394494476.ggaOGGDdHxR_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:0px;--mb:10px;--mt-mobile:0px;--pb-mobile:5px;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .g9U0-50bnV.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .g9U0-50bnV:hover::before {
      
      
    }

    .g9U0-50bnV:hover .gp-button-icon {
      color: undefined;
    }

     .g9U0-50bnV .gp-button-icon {
      color: #AAAAAA;
    }

    .g9U0-50bnV:hover .gp-button-price {
      color: undefined;
    }

    .g9U0-50bnV .gp-button-price {
      color: #AAAAAA;
    }

    .g9U0-50bnV .gp-product-dot-price {
       color: #AAAAAA;
    }

    .g9U0-50bnV:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/pages/blog" target="_self" data-id="g9U0-50bnV" aria-label="BLOG"
      
      data-state="idle"
      class="g9U0-50bnV gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#AAAAAA"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ "sections.gp-global-section-514563501394494476.gg9U0-50bnV_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:0px;--mb:10px;--mt-mobile:0px;--pb-mobile:5px;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gy6k-V9JXW.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gy6k-V9JXW:hover::before {
      
      
    }

    .gy6k-V9JXW:hover .gp-button-icon {
      color: undefined;
    }

     .gy6k-V9JXW .gp-button-icon {
      color: #AAAAAA;
    }

    .gy6k-V9JXW:hover .gp-button-price {
      color: undefined;
    }

    .gy6k-V9JXW .gp-button-price {
      color: #AAAAAA;
    }

    .gy6k-V9JXW .gp-product-dot-price {
       color: #AAAAAA;
    }

    .gy6k-V9JXW:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/pages/check-out" target="_self" data-id="gy6k-V9JXW" aria-label="POLÍTICA DE PRIVACIDADE"
      
      data-state="idle"
      class="gy6k-V9JXW gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#AAAAAA"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ "sections.gp-global-section-514563501394494476.ggy6k-V9JXW_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDJjMt93_4 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gxQw6A1cGs">
    <div
      enableLazyloadImage parentTag="Col"
        class="gxQw6A1cGs "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--c:#ffffff;--fs:normal;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-heading, heading);--weight:700;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ "sections.gp-global-section-514563501394494476.ggxQw6A1cGs_text_html" | t }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:0px;--mb:10px;--mt-mobile:0px;--mb-mobile:0px;--pb-mobile:5px;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .ghO0XhOAbg.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .ghO0XhOAbg:hover::before {
      
      
    }

    .ghO0XhOAbg:hover .gp-button-icon {
      color: undefined;
    }

     .ghO0XhOAbg .gp-button-icon {
      color: #AAAAAA;
    }

    .ghO0XhOAbg:hover .gp-button-price {
      color: undefined;
    }

    .ghO0XhOAbg .gp-button-price {
      color: #AAAAAA;
    }

    .ghO0XhOAbg .gp-product-dot-price {
       color: #AAAAAA;
    }

    .ghO0XhOAbg:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/pages/fale-conosco" target="_self" data-id="ghO0XhOAbg" aria-label="FALE CONOSCO"
      
      data-state="idle"
      class="ghO0XhOAbg gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#AAAAAA"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ "sections.gp-global-section-514563501394494476.gghO0XhOAbg_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:0px;--mb:10px;--mt-mobile:0px;--mb-mobile:0px;--pb-mobile:5px;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gB1nhsbr0l.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gB1nhsbr0l:hover::before {
      
      
    }

    .gB1nhsbr0l:hover .gp-button-icon {
      color: undefined;
    }

     .gB1nhsbr0l .gp-button-icon {
      color: #AAAAAA;
    }

    .gB1nhsbr0l:hover .gp-button-price {
      color: undefined;
    }

    .gB1nhsbr0l .gp-button-price {
      color: #AAAAAA;
    }

    .gB1nhsbr0l .gp-product-dot-price {
       color: #AAAAAA;
    }

    .gB1nhsbr0l:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/pages/politica-de-entrega" target="_self" data-id="gB1nhsbr0l" aria-label="ENTREGA"
      
      data-state="idle"
      class="gB1nhsbr0l gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#AAAAAA"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ "sections.gp-global-section-514563501394494476.ggB1nhsbr0l_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:0px;--mb:10px;--mt-mobile:0px;--mb-mobile:0px;--pb-mobile:5px;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gyx1IktKoT.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gyx1IktKoT:hover::before {
      
      
    }

    .gyx1IktKoT:hover .gp-button-icon {
      color: undefined;
    }

     .gyx1IktKoT .gp-button-icon {
      color: #AAAAAA;
    }

    .gyx1IktKoT:hover .gp-button-price {
      color: undefined;
    }

    .gyx1IktKoT .gp-button-price {
      color: #AAAAAA;
    }

    .gyx1IktKoT .gp-product-dot-price {
       color: #AAAAAA;
    }

    .gyx1IktKoT:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/pages/faq" target="_self" data-id="gyx1IktKoT" aria-label="DUVIDAS"
      
      data-state="idle"
      class="gyx1IktKoT gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#AAAAAA"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ "sections.gp-global-section-514563501394494476.ggyx1IktKoT_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:0px;--mb:10px;--mt-mobile:0px;--mb-mobile:0px;--pb-mobile:5px;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gcYGgUFdcT.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .gcYGgUFdcT:hover::before {
      
      
    }

    .gcYGgUFdcT:hover .gp-button-icon {
      color: undefined;
    }

     .gcYGgUFdcT .gp-button-icon {
      color: #AAAAAA;
    }

    .gcYGgUFdcT:hover .gp-button-price {
      color: undefined;
    }

    .gcYGgUFdcT .gp-button-price {
      color: #AAAAAA;
    }

    .gcYGgUFdcT .gp-product-dot-price {
       color: #AAAAAA;
    }

    .gcYGgUFdcT:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/pages/politicas-de-troca-cancelamento-e-devolucao" target="_self" data-id="gcYGgUFdcT" aria-label="POLITICA DE TROCA CANCELAMENTOS E DEVOLUÇÕES"
      
      data-state="idle"
      class="gcYGgUFdcT gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--radius:var(--g-radius-small);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:#AAAAAA"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ "sections.gp-global-section-514563501394494476.ggcYGgUFdcT_label_html" | t }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXEFguMeyb gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gvFXKvxc-l">
    <div
      enableLazyloadImage parentTag="Col"
        class="gvFXKvxc-l "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ "sections.gp-global-section-514563501394494476.ggvFXKvxc-l_text_html" | t }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px" class="g8bjoHvew- ">
      
    <gp-form
      id="g8bjoHvew-"
      data-id="g8bjoHvew-"
      
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-g8bjoHvew-"
        href="" target=""
      >
      </a>
      {% form 'customer', class: 'gp-form-g8bjoHvew- ', id: 'contact_form_g8bjoHvew-' %}
        {% if form.errors %}
          <div
            id="gp-form-error-g8bjoHvew-"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ "sections.gp-global-section-514563501394494476.gg8bjoHvew-_errorMessage_html" | t }}
          </div>
        {% endif %}
        <div popover id="my-popover-g8bjoHvew-">
        <style>
            #my-popover-g8bjoHvew-::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-g8bjoHvew-"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ "sections.gp-global-section-514563501394494476.gg8bjoHvew-_successMessage_html" | t }}
        </div></div>
        
       
      
    <div
      enableLazyloadImage parentTag="Newsletter" id="gl_Tq0wg6T" data-id="gl_Tq0wg6T"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--cg-mobile:0px;--pc:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gl_Tq0wg6T gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDt663n8O_ gp-relative gp-flex gp-flex-col"
    >
      
    <div
    data-id="g8FD-KACVx"
      class="g8FD-KACVx"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--w:100%;--w-tablet:313px;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--shadow:none"
        placeholder="{{ "sections.gp-global-section-514563501394494476.gg8FD-KACVx_placeholder_html" | t }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .g5-EkMPLpW.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g5-EkMPLpW:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .g5-EkMPLpW:hover .gp-button-icon {
      color: #ffffff;
    }

     .g5-EkMPLpW .gp-button-icon {
      color: #3D4326;
    }

    .g5-EkMPLpW:hover .gp-button-price {
      color: #ffffff;
    }

    .g5-EkMPLpW .gp-button-price {
      color: #3D4326;
    }

    .g5-EkMPLpW .gp-product-dot-price {
       color: #3D4326;
    }

    .g5-EkMPLpW:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <button
      type="submit" data-id="g5-EkMPLpW" aria-label="Inscreva-se"
      
      data-state="idle"
      class="g5-EkMPLpW gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-g-paragraph-1"
      style="--hvr-bg:#3D4326;--bg:rgb(178, 217, 38);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--hvr-c:#ffffff;--c:#3D4326"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        
      >
        {{ "sections.gp-global-section-514563501394494476.gg5-EkMPLpW_label_html" | t }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
   
    
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage parentTag="Col" id="g3aziiJItN" data-id="g3aziiJItN"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3aziiJItN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggj9yMHTpa gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage parentTag="Col" id="gGFJYbpgZw" data-id="gGFJYbpgZw"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-small);--mt:0px;--pt:0px;--mt-mobile:var(--g-s-l);--mb-mobile:10px;--pt-mobile:0px;--cg:24px;--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGFJYbpgZw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--jc-mobile:start;--o:0"
      class="gZ5i6_liK_ gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gIFhplnHtV"
    >
      <div 
      data-id="gIFhplnHtV"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <a
      href="https://www.pinterest.com/vivajui/" target="_self" title
    >
      <span
        style="--c:#ffffff;--t:rotate(0deg);--w:30px;--h:30px;--minw:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587900711272">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,112c0,23.6-8.29,45.23-23.35,60.88C190.52,187.57,171.33,196,152,196c-15.45,0-26.78-4.18-34.89-9.31l-9.43,40.06a12,12,0,1,1-23.36-5.5l32-136a12,12,0,1,1,23.36,5.5l-16.45,69.93C126.72,164.86,135.16,172,152,172c25.56,0,52-22.45,52-60A68,68,0,1,0,77.09,146a12,12,0,0,1-20.77,12A92,92,0,1,1,228,112Z" /></svg></span>
    </a>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--jc-mobile:start;--o:0"
      class="gCPZunVYyO gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g_57aL74AZ"
    >
      <div 
      data-id="g_57aL74AZ"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <a
      href="https://www.instagram.com/vivajui/" target="_self" title
    >
      <span
        style="--c:#ffffff;--t:rotate(0deg);--w:30px;--h:30px;--minw:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817577248620904">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,72a24,24,0,1,1,24-24A24,24,0,0,1,128,152ZM176,20H80A60.07,60.07,0,0,0,20,80v96a60.07,60.07,0,0,0,60,60h96a60.07,60.07,0,0,0,60-60V80A60.07,60.07,0,0,0,176,20Zm36,156a36,36,0,0,1-36,36H80a36,36,0,0,1-36-36V80A36,36,0,0,1,80,44h96a36,36,0,0,1,36,36ZM196,76a16,16,0,1,1-16-16A16,16,0,0,1,196,76Z" /></svg></span>
    </a>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--jc-mobile:start;--o:0"
      class="gf7QIGpwkU gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g0zKlcTQvr"
    >
      <div 
      data-id="g0zKlcTQvr"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <a
      href="https://www.youtube.com/@VivaJui" target="_self" title
    >
      <span
        style="--c:#ffffff;--t:rotate(0deg);--w:30px;--h:30px;--minw:30px;--height-desktop:30px;--height-tablet:30px;--height-mobile:30px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817766391677288">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.33,69.52a24,24,0,0,0-14.49-16.4C185.56,39.88,131,40,128,40s-57.56-.12-91.84,13.12a24,24,0,0,0-14.49,16.4C19.08,79.5,16,97.74,16,128s3.08,48.5,5.67,58.48a24,24,0,0,0,14.49,16.41C69,215.56,120.4,216,127.34,216h1.32c6.94,0,58.37-.44,91.18-13.11a24,24,0,0,0,14.49-16.41c2.59-10,5.67-28.22,5.67-58.48S236.92,79.5,234.33,69.52Zm-73.74,65-40,28A8,8,0,0,1,108,156V100a8,8,0,0,1,12.59-6.55l40,28a8,8,0,0,1,0,13.1Z" /></svg></span>
    </a>
      </div>
    </div>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzI8F5r7wK gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ggGReEwmQw"
    role="presentation"
    class="gp-group/image ggGReEwmQw"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_509069249558348903-203273c8-c382-499d-a5e2-de8699ff8f50_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc1IiBoZWlnaHQ9IjQ3NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDc1LTQ3NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDc1IiBoZWlnaHQ9IjQ3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc1IiBoZWlnaHQ9IjQ3NSIgZmlsbD0idXJsKCNnLTQ3NS00NzUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00NzUiIHRvPSI0NzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_509069249558348903-203273c8-c382-499d-a5e2-de8699ff8f50_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc1IiBoZWlnaHQ9IjQ3NSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDc1LTQ3NSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDc1IiBoZWlnaHQ9IjQ3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc1IiBoZWlnaHQ9IjQ3NSIgZmlsbD0idXJsKCNnLTQ3NS00NzUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00NzUiIHRvPSI0NzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDc1IiBoZWlnaHQ9IjM5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00NzUtMzkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQ3NSIgaGVpZ2h0PSIzOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDc1IiBoZWlnaHQ9IjM5IiBmaWxsPSJ1cmwoI2ctNDc1LTM5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDc1IiB0bz0iNDc1IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_509069249558348903-203273c8-c382-499d-a5e2-de8699ff8f50.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--objf:cover;--w:80%;--w-tablet:38px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2Q.woff) format('woff');
}
/* hebrew */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGSV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGiV2YOrrM95Dylg.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/assistant/v19/2sDPZGJYnIjSi6H75xkZZE1I0yCmYzzQtuZnIGaV2YOrrM95Dw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    "presets": [{ "name": "footer" }],
    "name": "footer",
    "tag": "section",
    "class": "gps-514563501394494476 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=514563501394494476)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {"pt-BR":{"ggcKIcM50zP_label_html":"Siga-nos no Instagram","gg1suClLZQ1_text_html":"<p><strong>Viver bem é tudo de Jui</strong></p><p><strong>+55 (21) 97262-9926</strong></p><p><a href=\"mailto:contato@vivajui.com\"><strong>contato@vivajui.com</strong></a></p>","gg3x6gxMGDY_text_html":"AJUDA E SUPORTE","gg_tvwuOpEh_label_html":"CONHECA A JUI","ggaOGGDdHxR_label_html":"VAI DE JUI","gg9U0-50bnV_label_html":"BLOG","ggy6k-V9JXW_label_html":"POLÍTICA DE PRIVACIDADE","ggxQw6A1cGs_text_html":"<strong>INSTITUCIONAL</strong>","gghO0XhOAbg_label_html":"FALE CONOSCO","ggB1nhsbr0l_label_html":"ENTREGA","ggyx1IktKoT_label_html":"DUVIDAS","ggcYGgUFdcT_label_html":"POLITICA DE TROCA CANCELAMENTOS E DEVOLUÇÕES","ggvFXKvxc-l_text_html":"<strong>Newsletter</strong>","gg8bjoHvew-_successMessage_html":"Thanks for contacting us. We'll get back to you as soon as possible.","gg8bjoHvew-_errorMessage_html":"Can’t send email. Please try again later.","gg8FD-KACVx_placeholder_html":"Email","gg5-EkMPLpW_label_html":"Inscreva-se"}}
  }
{% endschema %}
