

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-513293185426916378.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-513293185426916378.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-513293185426916378.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-513293185426916378.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-513293185426916378.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-513293185426916378.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-513293185426916378.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-513293185426916378.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-513293185426916378.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-513293185426916378.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-513293185426916378.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-513293185426916378.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-513293185426916378.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-513293185426916378.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-513293185426916378.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-513293185426916378.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-513293185426916378.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-513293185426916378.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-513293185426916378.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-513293185426916378.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-513293185426916378.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-513293185426916378.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-513293185426916378.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-513293185426916378.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-513293185426916378.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-513293185426916378.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-513293185426916378.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-513293185426916378.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-513293185426916378.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-513293185426916378.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-513293185426916378.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-513293185426916378.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-513293185426916378.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-513293185426916378.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-513293185426916378.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-513293185426916378.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-513293185426916378.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-513293185426916378.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-513293185426916378.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-513293185426916378.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-513293185426916378.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-513293185426916378.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-513293185426916378.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-513293185426916378.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-513293185426916378.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-513293185426916378.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-513293185426916378.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-513293185426916378.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-513293185426916378.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-513293185426916378.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-513293185426916378.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-513293185426916378.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-513293185426916378 .gp-relative{position:relative}.gps-513293185426916378 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-513293185426916378 .gp-mb-0{margin-bottom:0}.gps-513293185426916378 .gp-flex{display:flex}.gps-513293185426916378 .gp-grid{display:grid}.gps-513293185426916378 .\!gp-hidden{display:none!important}.gps-513293185426916378 .gp-hidden{display:none}.gps-513293185426916378 .gp-max-w-full{max-width:100%}.gps-513293185426916378 .gp-flex-col{flex-direction:column}.gps-513293185426916378 .gp-gap-y-0{row-gap:0}.gps-513293185426916378 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-513293185426916378 .gp-duration-200{transition-duration:.2s}.gps-513293185426916378 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-513293185426916378 .tablet\:\!gp-hidden{display:none!important}.gps-513293185426916378 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-513293185426916378 .mobile\:\!gp-hidden{display:none!important}.gps-513293185426916378 .mobile\:gp-hidden{display:none}}.gps-513293185426916378 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-513293185426916378 .\[\&_p\]\:gp-inline p{display:inline}.gps-513293185426916378 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-513293185426916378 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="glSXnzOWTN" data-id="glSXnzOWTN"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:15px;--pb:0px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F3EB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glSXnzOWTN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geDcI8MGgy gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gypeFHoD4P" data-id="gypeFHoD4P"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:28px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1057px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gypeFHoD4P gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsyUNWySBM gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gV8htj44GH" data-id="gV8htj44GH"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:-54px;--mb:0px;--pt:40px;--pl:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:40px;--pl-mobile:13px;--pb-mobile:var(--g-s-l);--pr-mobile:13px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2EDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gV8htj44GH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5BZqo8jDD gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gQSE_LUxPS">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gQSE_LUxPS "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--tt:none;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggQSE_LUxPS_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="giapA9tSim">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="giapA9tSim "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggiapA9tSim_text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gymUaFuEZy">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gymUaFuEZy "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size:43px;--size-tablet:43px;--size-mobile:38px;--tt:none;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggymUaFuEZy_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gS9hVp4gw_">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gS9hVp4gw_ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggS9hVp4gw__text }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gy1iZqXa-i">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gy1iZqXa-i "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size:43px;--size-tablet:43px;--size-mobile:38px;--tt:none;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.ggy1iZqXa-i_text }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="ghTccn6KRQ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ghTccn6KRQ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;--radius:var(--g-radius-none);overflow:hidden"
        >{{ section.settings.gghTccn6KRQ_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gdMkEWjEmz gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-513293185426916378 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=513293185376584730&sectionId=513293185426916378)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggQSE_LUxPS_text","label":"ggQSE_LUxPS_text","default":"<strong>Wrap de Frango com Abacate e Vegetais</strong>"},{"type":"html","id":"ggiapA9tSim_text","label":"ggiapA9tSim_text","default":"<p><span style=\"background-color:rgb(242,237,218);color:rgb(51,51,51);font-size:17px;\">Este wrap de frango é uma opção prática e deliciosa para uma refeição equilibrada em movimento. Embalado com proteínas magras, gorduras saudáveis e uma variedade de vegetais frescos, é uma escolha inteligente para um almoço nutritivo.</span></p>"},{"type":"html","id":"ggymUaFuEZy_text","label":"ggymUaFuEZy_text","default":"<strong>Ingredientes:</strong>"},{"type":"html","id":"ggS9hVp4gw__text","label":"ggS9hVp4gw__text","default":"<ul><li>2 peitos de frango cozidos e fatiados</li><li>2 wraps de trigo integral</li><li>1 abacate maduro, fatiado</li><li>1 xícara de alface picada</li><li>½ xícara de cenoura ralada</li><li>½ xícara de pimentão amarelo em tiras</li><li>Molho de iogurte (opcional)</li></ul>"},{"type":"html","id":"ggy1iZqXa-i_text","label":"ggy1iZqXa-i_text","default":"<strong>Instruções:</strong>"},{"type":"html","id":"gghTccn6KRQ_text","label":"gghTccn6KRQ_text","default":"<ol><li>Aqueça os wraps conforme as instruções da embalagem.</li><li>Coloque os wraps em superfícies planas.</li><li>Divida o frango fatiado entre os wraps.</li><li>Adicione as fatias de abacate, alface, cenoura e pimentão.</li><li>Se desejar, regue com um pouco de molho de iogurte.</li><li>Dobre as extremidades do wrap e enrole-o bem.</li><li>Corte ao meio e aproveite!</li></ol><p><strong>Benefícios:</strong> Este wrap oferece proteínas do frango, gorduras saudáveis do abacate e uma variedade de vegetais que contribuem com fibras, vitaminas e minerais. É uma opção versátil e equilibrada para refeições rápidas.</p><p>Lembre-se de adaptar as receitas de acordo com as preferências pessoais e restrições alimentares dos leitores.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
