

<link {% if section.settings.section_preload == "false" %} class="gps-link" delay="{{ 'gp-section-512853366297068749.css' | asset_url }}" {% else %} href="{{ 'gp-section-512853366297068749.css' | asset_url }}" {% endif %} rel="stylesheet" type="text/css" media="all">

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g3V3H6GAO4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mr:auto;--pt:250px;--pb:250px;--pt-mobile:200px;--pb-mobile:200px;--cg:0px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url({{ "gempages_509069249558348903-814a1dbb-8314-4de4-a9ea-a1917991dbbf.jpg" | file_url }});--bgi-mobile:url({{ "gempages_509069249558348903-f6d0197a-1fc7-48c4-b746-48fbf6b0cd43.png" | file_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3V3H6GAO4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gY8mTGegSg gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gEs6ZI-_NC"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEs6ZI-_NC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8PfK7BMef gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:right;--ta-mobile:center"
    class=""
  >
    <style>
    .rixtNHicSgFY.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
    }

    .rixtNHicSgFY:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="rixtNHicSgFY" aria-label="Com Jui"
      
      data-state="idle"
      class="rixtNHicSgFY gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:rgb(178, 217, 38);--bg:rgb(178, 217, 38);--bblr:0px;--bbrr:0px;--btlr:30px;--btrr:30px;--shadow:none;--c:#FFFFFF;--w:;--w-tablet:;--w-mobile:50%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:10px;--pr-mobile:5px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Athletics-Bold, 'Athletics Bold'), var(--g-font-body, body);--weight:400;--lh:130%;--size:23px;--size-tablet:18px;--size-mobile:22px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.grixtNHicSgFY_label }}
      </span>
    </button>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAvVZJW6Qu gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left;--ta-mobile:center"
    class=""
  >
    <style>
    .MBBHceXyuXqi.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .MBBHceXyuXqi:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="MBBHceXyuXqi" aria-label="Sem Jui"
      
      data-state="idle"
      class="MBBHceXyuXqi gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:rgb(245, 127, 32);--bg:rgb(245, 127, 32);--bblr:30px;--bbrr:30px;--btlr:0px;--btrr:0px;--shadow:none;--c:rgb(255, 255, 255);--w:;--w-tablet:;--w-mobile:50%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:5px;--pr-mobile:10px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Athletics-Bold, 'Athletics Bold'), var(--g-font-body, body);--weight:400;--lh:130%;--size:23px;--size-tablet:18px;--size-mobile:22px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gMBBHceXyuXqi_label }}
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-512853366297068749 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=511770980264182951&sectionId=512853366297068749)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"grixtNHicSgFY_label","label":"grixtNHicSgFY_label","default":"Com Jui"},{"type":"html","id":"gMBBHceXyuXqi_label","label":"gMBBHceXyuXqi_label","default":"Sem Jui"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
