
  <style> @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,600&display=swap'); </style>
  <style> .gps-509069660147155871 .gp-rotate-0,.gps-509069660147155871 .gp-rotate-180,.gps-509069660147155871 .mobile\:gp-rotate-0,.gps-509069660147155871 .mobile\:gp-rotate-180,.gps-509069660147155871 .tablet\:gp-rotate-0,.gps-509069660147155871 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-509069660147155871 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-509069660147155871 .gp-invisible{visibility:hidden}.gps-509069660147155871 .gp-absolute{position:absolute}.gps-509069660147155871 .\!gp-relative{position:relative!important}.gps-509069660147155871 .gp-relative{position:relative}.gps-509069660147155871 .gp-z-1{z-index:1}.gps-509069660147155871 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509069660147155871 .gp-my-0{margin-bottom:0;margin-top:0}.gps-509069660147155871 .gp-mb-0{margin-bottom:0}.gps-509069660147155871 .gp-block{display:block}.gps-509069660147155871 .\!gp-inline{display:inline!important}.gps-509069660147155871 .\!gp-flex{display:flex!important}.gps-509069660147155871 .gp-flex{display:flex}.gps-509069660147155871 .gp-inline-flex{display:inline-flex}.gps-509069660147155871 .gp-grid{display:grid}.gps-509069660147155871 .\!gp-hidden{display:none!important}.gps-509069660147155871 .gp-hidden{display:none}.gps-509069660147155871 .gp-aspect-square{aspect-ratio:1/1}.gps-509069660147155871 .gp-h-5{height:20px}.gps-509069660147155871 .gp-h-full{height:100%}.gps-509069660147155871 .\!gp-min-h-full{min-height:100%!important}.gps-509069660147155871 .gp-w-5{width:20px}.gps-509069660147155871 .gp-w-\[12px\]{width:12px}.gps-509069660147155871 .gp-w-full{width:100%}.gps-509069660147155871 .gp-max-w-full{max-width:100%}.gps-509069660147155871 .gp-shrink-0{flex-shrink:0}.gps-509069660147155871 .gp-rotate-0{--tw-rotate:0deg}.gps-509069660147155871 .gp-rotate-0,.gps-509069660147155871 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-509069660147155871 .gp-rotate-180{--tw-rotate:180deg}.gps-509069660147155871 .gp-cursor-pointer{cursor:pointer}.gps-509069660147155871 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-509069660147155871 .\!gp-flex-row{flex-direction:row!important}.gps-509069660147155871 .gp-flex-row{flex-direction:row}.gps-509069660147155871 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-509069660147155871 .gp-flex-col{flex-direction:column}.gps-509069660147155871 .gp-flex-wrap{flex-wrap:wrap}.gps-509069660147155871 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-509069660147155871 .gp-items-center{align-items:center}.gps-509069660147155871 .gp-justify-center{justify-content:center}.gps-509069660147155871 .gp-justify-between{justify-content:space-between}.gps-509069660147155871 .gp-gap-2{gap:8px}.gps-509069660147155871 .gp-gap-y-0{row-gap:0}.gps-509069660147155871 .gp-overflow-hidden{overflow:hidden}.gps-509069660147155871 .gp-break-words{overflow-wrap:break-word}.gps-509069660147155871 .gp-rounded-full{border-radius:9999px}.gps-509069660147155871 .gp-rounded-none{border-radius:0}.gps-509069660147155871 .gp-text-center{text-align:center}.gps-509069660147155871 .gp-leading-\[0\]{line-height:0}.gps-509069660147155871 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-509069660147155871 .gp-no-underline{text-decoration-line:none}.gps-509069660147155871 .gp-opacity-25{opacity:.25}.gps-509069660147155871 .gp-opacity-75{opacity:.75}.gps-509069660147155871 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-509069660147155871 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509069660147155871 .gp-duration-200{transition-duration:.2s}.gps-509069660147155871 .gp-duration-300{transition-duration:.3s}.gps-509069660147155871 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509069660147155871 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-509069660147155871 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-509069660147155871 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-509069660147155871 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-509069660147155871 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-509069660147155871 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-509069660147155871 .tablet\:\!gp-relative{position:relative!important}.gps-509069660147155871 .tablet\:gp-block{display:block}.gps-509069660147155871 .tablet\:\!gp-flex{display:flex!important}.gps-509069660147155871 .tablet\:\!gp-hidden{display:none!important}.gps-509069660147155871 .tablet\:gp-hidden{display:none}.gps-509069660147155871 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-509069660147155871 .tablet\:gp-w-full{width:100%}.gps-509069660147155871 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-509069660147155871 .tablet\:gp-rotate-0,.gps-509069660147155871 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-509069660147155871 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-509069660147155871 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-509069660147155871 .tablet\:gp-flex-row{flex-direction:row}.gps-509069660147155871 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-509069660147155871 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-509069660147155871 .mobile\:\!gp-relative{position:relative!important}.gps-509069660147155871 .mobile\:gp-block{display:block}.gps-509069660147155871 .mobile\:\!gp-flex{display:flex!important}.gps-509069660147155871 .mobile\:\!gp-hidden{display:none!important}.gps-509069660147155871 .mobile\:gp-hidden{display:none}.gps-509069660147155871 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-509069660147155871 .mobile\:gp-w-full{width:100%}.gps-509069660147155871 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-509069660147155871 .mobile\:gp-rotate-0,.gps-509069660147155871 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-509069660147155871 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-509069660147155871 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-509069660147155871 .mobile\:gp-flex-row{flex-direction:row}.gps-509069660147155871 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-509069660147155871 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-509069660147155871 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-509069660147155871 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-509069660147155871 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-509069660147155871 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1023px){.gps-509069660147155871 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-509069660147155871 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-509069660147155871 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509069660147155871 .\[\&_p\]\:gp-inline p{display:inline}.gps-509069660147155871 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-509069660147155871 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509069660147155871 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="0aeAM8VGJ8"
        style="--border:;--rounded:;--pt:72px;--pl:15px;--pb:72px;--pr:15px;--pt-mobile:56px;--pl-mobile:15px;--pb-mobile:56px;--pr-mobile:15px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="0aeAM8VGJ8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="JAkQnCZj81 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gS_E_OfOH2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gS_E_OfOH2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtoxtFWerP gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="tjxKENeAD2 "
        style="--tt:capitalize;--ta:center;--border:;--rounded:;--mb:var(--g-s-s);--textColor:#666666"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#666666;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:capitalize;word-break:break-word;overflow:hidden"
        >10,000+ happy customers and counting</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="DwOgTvlOmD "
        style="--tt:uppercase;--ta:center;--border:;--rounded:;--mb:56px;--mb-mobile:40px;--pl-mobile:15px;--pr-mobile:15px;--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#000000;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:600;--ls:1px;--lh:120%;--size:44px;--size-tablet:44px;--size-mobile:38px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >What homebodies are saying</h2>
      </div>
    </div>
    <gp-carousel  id="gp-root-carousel-gj3N8aS9jS-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gj3N8aS9jS-{{section.id}}","setting":{"animationMode":"ease-in","arrow":{"desktop":true},"arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" className=\"w-6 h-6\"  viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M148.672 52.672a16 16 0 0 1 22.656 0l192 192a16 16 0 0 1 0 22.656l-192 192a16 16 0 0 1 -22.656 -22.656L329.376 256 148.672 75.328a16 16 0 0 1 0 -22.656z\" /></svg>","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":false,"autoplayTimeout":2,"childItem":["Slide 1","Slide 2"],"controlOverContent":{"desktop":false},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"#C7660C"},"dotColor":{"desktop":"#F1CCA9"},"dotGapToCarousel":{"desktop":16,"mobile":16,"tablet":16},"dotSize":{"desktop":12,"mobile":12,"tablet":12},"dotStyle":{"desktop":"outside","mobile":"outside","tablet":"outside"},"enableDrag":{"desktop":false},"itemNumber":{"desktop":1,"mobile":1,"tablet":1},"loop":{"desktop":false},"navigationStyle":{"desktop":"outside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"sneakPeak":{"desktop":false,"mobile":false,"tablet":false},"sneakPeakOffsetCenter":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"playSpeed":500,"sizeSetting":{"desktop":{"height":"auto","width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}},"spacing":{"desktop":16}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gj3N8aS9jS"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:calc(100% - 12px - 16px);--h-tablet:calc(100% - 12px - 16px);--h-mobile:calc(100% - 12px - 16px);gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-carousel-action-back gem-slider-previous gj3N8aS9jS-{{section.id}} gp-carousel-arrow-gj3N8aS9jS gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative  tablet:!gp-flex tablet:!gp-relative  mobile:!gp-flex mobile:!gp-relative "
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 52.672a16 16 0 0 1 22.656 0l192 192a16 16 0 0 1 0 22.656l-192 192a16 16 0 0 1 -22.656 -22.656L329.376 256 148.672 75.328a16 16 0 0 1 0 -22.656z" /></svg>
    </div>
      <style>
    .gp-carousel-arrow-gj3N8aS9jS {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gj3N8aS9jS::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gj3N8aS9jS {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gj3N8aS9jS::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gj3N8aS9jS {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gj3N8aS9jS::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gj3N8aS9jS-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- g-ZXMPbZ_M"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="IRoOZjkeQ8"
        style="--border:;--rounded:;--mb:0px;--pt:0px;--pb:0px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#f7f7f7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="IRoOZjkeQ8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="weuwyEJf28 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gG37Cvem2o"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/" srcset="https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/ 768w,https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/ 1024w,https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/ 1440w" width="1176" height="952" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1176/952;--aspect-tablet:1176/952;--aspect-mobile:1176/952;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/" data-srcset="https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/ 768w,https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/ 1024w,https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1176" height="952" alt="Alt Image"
      sizes="100vw"
      style="--aspect:1176/952;--aspect-tablet:1176/952;--aspect-mobile:1176/952;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ZdXUQs93sF gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="nxchogUafv"
        style="--border:;--rounded:;--pt:30px;--pl:85px;--pb:30px;--pr:85px;--pt-mobile:40px;--pl-mobile:16px;--pb-mobile:40px;--pr-mobile:16px;--pt-tablet:30px;--pl-tablet:85px;--pb-tablet:30px;--pr-tablet:85px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="nxchogUafv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="5kV7ikvPTT gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
      
      style="--align:;--border:;--horizontalSpacing:;--horizontalSpacingSample:;--rounded:;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="gp-flex gp-flex-wrap"
            style="--cg:;--jc:center">
            <div style="" class="iAxne4jOCO ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--align:;--bgColor:;--border:;--color:;--iconBorder:;--iconBorderSample:;--iconRotate:;--iconRounded:;--iconRoundedSample:;--iconSpacing:;--iconWidth:;--rounded:;--spin:;--ta:left"
      class="gp-leading-[0] uJ4cLE60uY"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#F5A52D;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="" class="xOemAmJnbn ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--align:;--bgColor:;--border:;--color:;--iconBorder:;--iconBorderSample:;--iconRotate:;--iconRounded:;--iconRoundedSample:;--iconSpacing:;--iconWidth:;--rounded:;--spin:;--ta:left"
      class="gp-leading-[0] i7chW9CXN6"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#F5A52D;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="" class="QLwwpTg_2q ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--align:;--bgColor:;--border:;--color:;--iconBorder:;--iconBorderSample:;--iconRotate:;--iconRounded:;--iconRoundedSample:;--iconSpacing:;--iconWidth:;--rounded:;--spin:;--ta:left"
      class="gp-leading-[0] J4MHoCgxCI"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#F5A52D;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="" class="4VXKhbqW1q ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--align:;--bgColor:;--border:;--color:;--iconBorder:;--iconBorderSample:;--iconRotate:;--iconRounded:;--iconRoundedSample:;--iconSpacing:;--iconWidth:;--rounded:;--spin:;--ta:left"
      class="gp-leading-[0] IzPkHhb3Nn"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#F5A52D;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="" class="pGB7AYrHSC ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--align:;--bgColor:;--border:;--color:;--iconBorder:;--iconBorderSample:;--iconRotate:;--iconRounded:;--iconRoundedSample:;--iconSpacing:;--iconWidth:;--rounded:;--spin:;--ta:left"
      class="gp-leading-[0] kjgyibaM0h"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#F5A52D;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
    <div
      parentTag="Col"
        class="ke0kgBx4i2 "
        style="--tt:default;--ta:center;--border:;--rounded:;--mt:var(--g-s-s);--mb:var(--g-s-2xl);--mt-mobile:var(--g-s-s);--mb-mobile:40px;--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#000000;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:17px;word-break:break-word;overflow:hidden"
        >GemHome Foam Mattress</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="x6gVkNsGM2 "
        style="--tt:default;--ta:center;--border:;--rounded:;--mb:var(--g-s-s);--pt:0px;--pt-mobile:0px;--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#000000;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:600;--ls:normal;--lh:150%;--size:24px;--size-tablet:24px;--size-mobile:21px;word-break:break-word;overflow:hidden"
        >“ I have been using this for many years. Since using this product, my back doesn’t hurt any more ”</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="T526qA-Zrj "
        style="--tt:uppercase;--ta:center;--border:;--rounded:;--mb:40px;--pt:0px;--pb:0px;--pt-mobile:8px;--pb-mobile:0px;--textColor:#666666"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#666666;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:14px;--size-mobile:12px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >lauren cisneros</div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--border:;--borderBtn:;--boxShadowBtn:;--hasBoxShadowBtn:;--rounded:;--roundedBtn:;--ta:center"
    class=""
  >
    <style>
    .ZEiGSgtPE_.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .ZEiGSgtPE_:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="ZEiGSgtPE_" aria-label="SHOP THIS NOW"
      data-state="idle"
      class="ZEiGSgtPE_ gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-flex-row-reverse"
      style="--bg:transparent;--radius:var(--g-radius-small);--hvr-c:#7A3D04;--c:#C7660C;--pl:1em;--pr:1em;--pt:0px;--pb:0px;--pl-tablet:1em;--pr-tablet:1em;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:1em;--pr-mobile:1em;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:3px;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 52.672a16 16 0 0 1 22.656 0l192 192a16 16 0 0 1 0 22.656l-192 192a16 16 0 0 1 -22.656 -22.656L329.376 256 148.672 75.328a16 16 0 0 1 0 -22.656z" /></svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style=""
      >
        SHOP THIS NOW
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--minw:calc(100% / 1 - 0px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 1 - 0px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gDJwJboVZY"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="OQNvv6l5lI"
        style="--border:;--rounded:;--pt:0px;--pb:0px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#f7f7f7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="OQNvv6l5lI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="cDn6shV403 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gTeR46Bs01"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/" srcset="https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/ 768w,https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/ 1024w,https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/ 1440w" width="1176" height="952" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1176/952;--aspect-tablet:1176/952;--aspect-mobile:1176/952;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/" data-srcset="https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/ 768w,https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/ 1024w,https://ucarecdn.com/892ef640-b00e-4648-b67e-1d5891a62b98/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1176" height="952" alt="Alt Image"
      sizes="100vw"
      style="--aspect:1176/952;--aspect-tablet:1176/952;--aspect-mobile:1176/952;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="h1AtIMzoyJ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="BBps1F1k3v"
        style="--border:;--rounded:;--pt:30px;--pl:85px;--pb:30px;--pr:85px;--pt-mobile:40px;--pl-mobile:16px;--pb-mobile:40px;--pr-mobile:16px;--pt-tablet:30px;--pl-tablet:85px;--pb-tablet:30px;--pr-tablet:85px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="BBps1F1k3v gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="q2XwU8wObY gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
      
      style="--align:;--border:;--horizontalSpacing:;--horizontalSpacingSample:;--rounded:;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="gp-flex gp-flex-wrap"
            style="--cg:;--jc:center">
            <div style="" class="Aj-TJ1M8mx ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--align:;--bgColor:;--border:;--color:;--iconBorder:;--iconBorderSample:;--iconRotate:;--iconRounded:;--iconRoundedSample:;--iconSpacing:;--iconWidth:;--rounded:;--spin:;--ta:left"
      class="gp-leading-[0] p7iW8MrtGW"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#F5A52D;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="" class="NGfAyuuBtX ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--align:;--bgColor:;--border:;--color:;--iconBorder:;--iconBorderSample:;--iconRotate:;--iconRounded:;--iconRoundedSample:;--iconSpacing:;--iconWidth:;--rounded:;--spin:;--ta:left"
      class="gp-leading-[0] hANMOmt0OB"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#F5A52D;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="" class="27qyy-cFVa ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--align:;--bgColor:;--border:;--color:;--iconBorder:;--iconBorderSample:;--iconRotate:;--iconRounded:;--iconRoundedSample:;--iconSpacing:;--iconWidth:;--rounded:;--spin:;--ta:left"
      class="gp-leading-[0] fvBLkJXBoc"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#F5A52D;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="" class="uAKSto8RDw ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--align:;--bgColor:;--border:;--color:;--iconBorder:;--iconBorderSample:;--iconRotate:;--iconRounded:;--iconRoundedSample:;--iconSpacing:;--iconWidth:;--rounded:;--spin:;--ta:left"
      class="gp-leading-[0] rUIYU-kHxB"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#F5A52D;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="" class="ELw76x4XfC ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--align:;--bgColor:;--border:;--color:;--iconBorder:;--iconBorderSample:;--iconRotate:;--iconRounded:;--iconRoundedSample:;--iconSpacing:;--iconWidth:;--rounded:;--spin:;--ta:left"
      class="gp-leading-[0] 9VlPIIsTTo"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#F5A52D;--t:rotate(0deg);--w:18px;--h:18px;--minw:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
    <div
      parentTag="Col"
        class="eCOWZjJDKQ "
        style="--tt:default;--ta:center;--border:;--rounded:;--mt:var(--g-s-s);--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#000000;--size:21px;--lh:150%;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size-tablet:21px;--size-mobile:21px;word-break:break-word;overflow:hidden"
        >GemHome Foam Mattress</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="CIG1UQZb2M "
        style="--tt:default;--ta:center;--border:;--rounded:;--pt:32px;--pt-mobile:40px;--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#000000;--size:24px;--lh:150%;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size-tablet:24px;--size-mobile:21px;word-break:break-word;overflow:hidden"
        >“ I have been using this for many years. Since using this product, my back doesn’t hurt any more ”</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="jtYjzdnITt "
        style="--tt:uppercase;--ta:center;--border:;--rounded:;--pt:8px;--pb:39px;--pt-mobile:8px;--pb-mobile:32px;--textColor:#666666"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#666666;--size:14px;--lh:150%;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size-tablet:14px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >lauren cisneros</div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--border:;--borderBtn:;--boxShadowBtn:;--hasBoxShadowBtn:;--rounded:;--roundedBtn:;--ta:center"
    class=""
  >
    <style>
    .7botylyLYt.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px;
  border-color: transparent;
  
      border-radius: var(--g-radius-small);
    }

    .7botylyLYt:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="7botylyLYt" aria-label="SHOP THIS NOW"
      data-state="idle"
      class="7botylyLYt gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-flex-row-reverse"
      style="--bg:transparent;--radius:var(--g-radius-small);--hvr-c:#7A3D04;--c:#C7660C;--pl:1em;--pr:1em;--pt:0px;--pb:0px;--pl-tablet:1em;--pr-tablet:1em;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:1em;--pr-mobile:1em;--pt-mobile:0px;--pb-mobile:0px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--size:19px;--lh:150%;--ff:var(--g-font-body, body);--weight:400;--ls:3px;--size-tablet:19px;--size-mobile:19px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 52.672a16 16 0 0 1 22.656 0l192 192a16 16 0 0 1 0 22.656l-192 192a16 16 0 0 1 -22.656 -22.656L329.376 256 148.672 75.328a16 16 0 0 1 0 -22.656z" /></svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style=""
      >
        SHOP THIS NOW
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-carousel-action-next gem-slider-next gj3N8aS9jS-{{section.id}} gp-carousel-arrow-gj3N8aS9jS gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative  tablet:!gp-flex tablet:!gp-relative  mobile:!gp-flex mobile:!gp-relative "
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 52.672a16 16 0 0 1 22.656 0l192 192a16 16 0 0 1 0 22.656l-192 192a16 16 0 0 1 -22.656 -22.656L329.376 256 148.672 75.328a16 16 0 0 1 0 -22.656z" /></svg>
    </div>
      <style>
    .gp-carousel-arrow-gj3N8aS9jS {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gj3N8aS9jS::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gj3N8aS9jS {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gj3N8aS9jS::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gj3N8aS9jS {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gj3N8aS9jS::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gj3N8aS9jS-{{section.id}} gp-flex-row gp-w-full tablet:gp-flex-row tablet:gp-w-full mobile:gp-flex-row mobile:gp-w-full"
    style="--mt:16px;--mt-tablet:16px;--mt-mobile:16px;--d:flex;--d-tablet:flex;--d-mobile:flex"
 ></div>
      </div>
    </gp-carousel>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 7",
      "tag": "section",
      "class": "gps-509069660147155871 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=509069657949340775&sectionId=509069660147155871)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
