

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-511437873354966048.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-511437873354966048.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-511437873354966048.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-511437873354966048.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-511437873354966048.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-511437873354966048.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-511437873354966048.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-511437873354966048.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-511437873354966048.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-511437873354966048.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-511437873354966048.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-511437873354966048.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-511437873354966048.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-511437873354966048.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-511437873354966048.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-511437873354966048.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-511437873354966048.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-511437873354966048.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-511437873354966048.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-511437873354966048.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-511437873354966048.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-511437873354966048.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-511437873354966048.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-511437873354966048.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-511437873354966048.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-511437873354966048.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-511437873354966048.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-511437873354966048.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-511437873354966048.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-511437873354966048.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-511437873354966048.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-511437873354966048.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-511437873354966048.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-511437873354966048.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-511437873354966048.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-511437873354966048.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-511437873354966048.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-511437873354966048.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-511437873354966048.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-511437873354966048.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-511437873354966048.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-511437873354966048.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-511437873354966048.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-511437873354966048.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-511437873354966048.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-511437873354966048.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-511437873354966048.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-511437873354966048.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-511437873354966048.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-511437873354966048.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-511437873354966048.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-511437873354966048.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-511437873354966048 .gp-relative{position:relative}.gps-511437873354966048 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511437873354966048 .gp-mb-0{margin-bottom:0}.gps-511437873354966048 .gp-flex{display:flex}.gps-511437873354966048 .gp-grid{display:grid}.gps-511437873354966048 .\!gp-hidden{display:none!important}.gps-511437873354966048 .gp-hidden{display:none}.gps-511437873354966048 .gp-max-w-full{max-width:100%}.gps-511437873354966048 .gp-flex-col{flex-direction:column}.gps-511437873354966048 .gp-gap-y-0{row-gap:0}.gps-511437873354966048 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511437873354966048 .gp-duration-200{transition-duration:.2s}.gps-511437873354966048 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-511437873354966048 .tablet\:\!gp-hidden{display:none!important}.gps-511437873354966048 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511437873354966048 .mobile\:\!gp-hidden{display:none!important}.gps-511437873354966048 .mobile\:gp-hidden{display:none}}.gps-511437873354966048 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511437873354966048 .\[\&_p\]\:gp-inline p{display:inline}.gps-511437873354966048 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-511437873354966048 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="glSXnzOWTN"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:15px;--pb:0px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F5F3EB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glSXnzOWTN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geDcI8MGgy gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gypeFHoD4P"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:28px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1057px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gypeFHoD4P gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsyUNWySBM gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gV8htj44GH"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:-54px;--mb:0px;--pt:40px;--pl:var(--g-s-2xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:40px;--pl-mobile:13px;--pb-mobile:var(--g-s-l);--pr-mobile:13px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2EDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gV8htj44GH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5BZqo8jDD gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="giapA9tSim "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggiapA9tSim_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gymUaFuEZy "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size:43px;--size-tablet:43px;--size-mobile:38px;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggymUaFuEZy_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gS9hVp4gw_ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggS9hVp4gw__text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gwzC5u69Qu "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggwzC5u69Qu_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="ghjjLSzMfg "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghjjLSzMfg_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gQSE_LUxPS "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggQSE_LUxPS_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gZ8PzbGoPZ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggZ8PzbGoPZ_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gnMD0W7m9I "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggnMD0W7m9I_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gns0BSW2tW "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggns0BSW2tW_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g6UqJwULBe "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-Athletics-Black, 'Athletics Black'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg6UqJwULBe_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gPcISaJIlb "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggPcISaJIlb_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gdMkEWjEmz gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-511437873354966048 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_ARTICLE&editorId=511437873271014432&sectionId=511437873354966048)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggiapA9tSim_text","label":"ggiapA9tSim_text","default":"<p><span style=\"background-color:rgb(242,237,218);color:rgb(51,51,51);font-size:17px;\">Em meio à correria do dia a dia, é fácil negligenciar certos aspectos da nossa dieta. No entanto, deixar de consumir alimentos verdes, como verduras e vegetais de folhas, pode ter consequências significativas para a sua saúde. Neste artigo, vamos explorar os malefícios de não incluir verdes na sua alimentação e entender por que esses alimentos merecem um lugar central no seu prato.</span></p>"},{"type":"html","id":"ggymUaFuEZy_text","label":"ggymUaFuEZy_text","default":"<strong>Deficiência de Nutrientes Essenciais,</strong>"},{"type":"html","id":"ggS9hVp4gw__text","label":"ggS9hVp4gw__text","default":"<p><span style=\"background-color:rgb(242,237,218);color:rgb(51,51,51);font-size:17px;\">Os alimentos verdes são ricos em uma variedade de nutrientes vitais para o bom funcionamento do organismo. Ao evitar esses alimentos, você pode ficar em déficit de vitaminas e minerais cruciais, como vitamina A, vitamina K, ácido fólico, ferro e cálcio. A vitamina A é fundamental para a saúde da visão, a vitamina K contribui para a coagulação sanguínea adequada, o ácido fólico é essencial para a formação de células sanguíneas e o ferro e o cálcio são essenciais para músculos e ossos saudáveis.</span></p>"},{"type":"html","id":"ggwzC5u69Qu_text","label":"ggwzC5u69Qu_text","default":"<strong>Falta de Antioxidantes e Proteção Celular</strong>"},{"type":"html","id":"gghjjLSzMfg_text","label":"gghjjLSzMfg_text","default":"<p><span style=\"background-color:rgb(242,237,218);color:rgb(51,51,51);font-size:17px;\">Os alimentos verdes também são reconhecidos por serem uma excelente fonte de antioxidantes. Essas substâncias combatem os radicais livres no corpo, protegendo as células contra danos e contribuindo para a prevenção de doenças crônicas, como câncer e doenças cardíacas. Ignorar os alimentos verdes significa perder os benefícios desses antioxidantes, deixando suas células mais vulneráveis aos danos oxidativos.</span></p>"},{"type":"html","id":"ggQSE_LUxPS_text","label":"ggQSE_LUxPS_text","default":"<strong>Impacto na Digestão e Saúde Intestinal</strong>"},{"type":"html","id":"ggZ8PzbGoPZ_text","label":"ggZ8PzbGoPZ_text","default":"<p><span style=\"background-color:rgb(242,237,218);color:rgb(51,51,51);font-size:17px;\">A ausência de alimentos verdes na dieta pode levar a problemas de digestão e saúde intestinal. Eles são ricos em fibras, que desempenham um papel fundamental na regulação do trânsito intestinal, prevenindo a constipação e mantendo a saúde da microbiota intestinal. A falta de fibras pode levar a irregularidades digestivas e afetar negativamente o equilíbrio da flora intestinal, que desempenha um papel crucial na absorção de nutrientes e no sistema imunológico.</span></p>"},{"type":"html","id":"ggnMD0W7m9I_text","label":"ggnMD0W7m9I_text","default":"<strong>Risco de Ganho de Peso e Complicações Relacionadas</strong>"},{"type":"html","id":"ggns0BSW2tW_text","label":"ggns0BSW2tW_text","default":"<p><span style=\"background-color:rgb(242,237,218);color:rgb(51,51,51);font-size:17px;\">A ausência de alimentos verdes também pode contribuir para o ganho de peso e suas complicações associadas. Os verdes costumam ser baixos em calorias e ricos em volume, o que ajuda na saciedade e no controle das porções. Ignorá-los pode levar a escolhas alimentares menos saudáveis, resultando em um consumo excessivo de calorias e aumento de peso.</span></p>"},{"type":"html","id":"gg6UqJwULBe_text","label":"gg6UqJwULBe_text","default":"<strong>Possíveis Problemas de Saúde a Longo Prazo</strong>"},{"type":"html","id":"ggPcISaJIlb_text","label":"ggPcISaJIlb_text","default":"<p>A falta de alimentos verdes na dieta ao longo do tempo pode aumentar o risco de uma série de problemas de saúde a longo prazo. Doenças cardiovasculares, diabetes tipo 2, osteoporose e até mesmo distúrbios visuais podem ser agravados devido à deficiência de nutrientes presentes nos alimentos verdes.</p><p>&nbsp;</p><p>Incluir alimentos verdes na sua dieta é essencial para manter a saúde e o bem-estar. Ao ignorar esses alimentos, você corre o risco de deficiências nutricionais, danos celulares, problemas digestivos e uma série de complicações de saúde a longo prazo. Portanto, é fundamental reconhecer o papel crucial dos alimentos verdes na promoção de uma vida saudável e equilibrada. Lembre-se de diversificar sua alimentação e incluir uma variedade de verduras e vegetais de folhas para colher todos os benefícios que eles têm a oferecer. Sua saúde agradecerá a escolha!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
