
  <style> @import url('https://fonts.googleapis.com/css?family=Athletics+Regular:400|Manrope:400,700,600|Open+Sans:600&display=swap'); </style>
  <style> .gps-511429862318146592 .focus\:\!gp-shadow-none,.gps-511429862318146592 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-511429862318146592 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-511429862318146592 .\!gp-g-s-medium{padding:8px 24px!important}.gps-511429862318146592 .gp-invisible{visibility:hidden}.gps-511429862318146592 .gp-fixed{position:fixed}.gps-511429862318146592 .gp-absolute{position:absolute}.gps-511429862318146592 .gp-relative{position:relative}.gps-511429862318146592 .gp-top-\[27px\]{top:27px}.gps-511429862318146592 .gp-z-1{z-index:1}.gps-511429862318146592 .gp-z-100{z-index:100}.gps-511429862318146592 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511429862318146592 .gp-mb-0{margin-bottom:0}.gps-511429862318146592 .\!gp-inline{display:inline!important}.gps-511429862318146592 .gp-flex{display:flex}.gps-511429862318146592 .gp-inline-flex{display:inline-flex}.gps-511429862318146592 .gp-grid{display:grid}.gps-511429862318146592 .\!gp-hidden{display:none!important}.gps-511429862318146592 .gp-hidden{display:none}.gps-511429862318146592 .\!gp-h-auto{height:auto!important}.gps-511429862318146592 .gp-h-5{height:20px}.gps-511429862318146592 .gp-h-full{height:100%}.gps-511429862318146592 .gp-min-h-\[150px\]{min-height:150px}.gps-511429862318146592 .gp-w-5{width:20px}.gps-511429862318146592 .gp-w-full{width:100%}.gps-511429862318146592 .gp-max-w-full{max-width:100%}.gps-511429862318146592 .gp-flex-col{flex-direction:column}.gps-511429862318146592 .gp-items-center{align-items:center}.gps-511429862318146592 .gp-justify-center{justify-content:center}.gps-511429862318146592 .gp-gap-y-0{row-gap:0}.gps-511429862318146592 .gp-overflow-hidden{overflow:hidden}.gps-511429862318146592 .gp-break-words{overflow-wrap:break-word}.gps-511429862318146592 .gp-rounded{border-radius:4px}.gps-511429862318146592 .gp-rounded-none{border-radius:0}.gps-511429862318146592 .\!gp-bg-none{background-image:none!important}.gps-511429862318146592 .gp-p-\[16px\]{padding:16px}.gps-511429862318146592 .gp-text-\[14px\]{font-size:14px}.gps-511429862318146592 .gp-leading-normal{line-height:1.5}.gps-511429862318146592 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-511429862318146592 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-511429862318146592 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-511429862318146592 .gp-no-underline{text-decoration-line:none}.gps-511429862318146592 .gp-opacity-25{opacity:.25}.gps-511429862318146592 .gp-opacity-75{opacity:.75}.gps-511429862318146592 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-511429862318146592 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511429862318146592 .gp-duration-200{transition-duration:.2s}.gps-511429862318146592 .gp-duration-300{transition-duration:.3s}.gps-511429862318146592 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511429862318146592 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-511429862318146592 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-511429862318146592 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-511429862318146592 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-511429862318146592 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-511429862318146592 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-511429862318146592 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-511429862318146592 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-511429862318146592 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-511429862318146592 .tablet\:\!gp-hidden{display:none!important}.gps-511429862318146592 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511429862318146592 .mobile\:\!gp-hidden{display:none!important}.gps-511429862318146592 .mobile\:gp-hidden{display:none}}.gps-511429862318146592 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511429862318146592 .\[\&_p\]\:gp-inline p{display:inline}.gps-511429862318146592 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-511429862318146592 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-511429862318146592 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gy0sMrkmxi"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EAEDE2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gy0sMrkmxi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvswnmJJEl gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g0sav3XMlW"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0sav3XMlW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSaDpzH996 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gW3y3jkeO5 "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-heading, heading);--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:35px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggW3y3jkeO5_text }}</h2>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g43FWwBwPo"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--pt-mobile:var(--g-s-3xl);--pb-mobile:var(--g-s-3xl);--cg:auto;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g43FWwBwPo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxKuvRuq4s gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g_FGlaeqS6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:var(--g-s-3xl);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-3xl);--pl-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_FGlaeqS6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtTCBGZNX1 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gxcN2vDgq2 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-heading, heading);--weight:700;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggxcN2vDgq2_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="glDaYg3v4g "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--c:var(--g-c-text-2, text-2);--size:28px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:28px;--lh-tablet:130%;--ff-tablet:var(--g-font-heading, heading);--weight-tablet:700;--ls-tablet:0px;--size-mobile:24px;--ff-mobile:var(--g-font-heading, heading);--weight-mobile:700;--ls-mobile:0px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gglDaYg3v4g_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gu9YwGG95Q "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggu9YwGG95Q_text }}</div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gd3daiXPwI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:var(--g-s-m);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gd3daiXPwI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gB_16JAP1h gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gsnl2RmqZj"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "432750572815254551-fc0231a6-3de5-42cc-9b6c-abc9412171f5.png" | file_url }}" srcset="{{ '432750572815254551-fc0231a6-3de5-42cc-9b6c-abc9412171f5.png' | file_img_url: '768x768' }} 768w, {{ '432750572815254551-fc0231a6-3de5-42cc-9b6c-abc9412171f5.png' | file_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-fc0231a6-3de5-42cc-9b6c-abc9412171f5.png' | file_img_url: 'master' }} 1440w" width="108" height="108" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:108/108;--aspect-tablet:108/108;--aspect-mobile:108/108;--objf:cover;--w:36px;--w-tablet:36px;--w-mobile:36px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "432750572815254551-fc0231a6-3de5-42cc-9b6c-abc9412171f5.png" | file_url }}" data-srcset="{{ '432750572815254551-fc0231a6-3de5-42cc-9b6c-abc9412171f5.png' | file_img_url: '768x768' }} 768w, {{ '432750572815254551-fc0231a6-3de5-42cc-9b6c-abc9412171f5.png' | file_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-fc0231a6-3de5-42cc-9b6c-abc9412171f5.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="108" height="108" alt="Alt Image"
      sizes="100vw"
      style="--aspect:108/108;--aspect-tablet:108/108;--aspect-mobile:108/108;--objf:cover;--w:36px;--w-tablet:36px;--w-mobile:36px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gGPx9IWoJ3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g0vf_aAyll "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg0vf_aAyll_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g3CUJzrT9k"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--cg:var(--g-s-m);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3CUJzrT9k gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gT1w-1B_cJ gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gUiXe3krYZ"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "432750572815254551-199c2f0c-7365-405c-9c1d-1b6aafbaa45c.png" | file_url }}" srcset="{{ '432750572815254551-199c2f0c-7365-405c-9c1d-1b6aafbaa45c.png' | file_img_url: '768x768' }} 768w, {{ '432750572815254551-199c2f0c-7365-405c-9c1d-1b6aafbaa45c.png' | file_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-199c2f0c-7365-405c-9c1d-1b6aafbaa45c.png' | file_img_url: 'master' }} 1440w" width="108" height="108" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:108/108;--aspect-tablet:108/108;--aspect-mobile:108/108;--objf:cover;--w:36px;--w-tablet:36px;--w-mobile:36px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "432750572815254551-199c2f0c-7365-405c-9c1d-1b6aafbaa45c.png" | file_url }}" data-srcset="{{ '432750572815254551-199c2f0c-7365-405c-9c1d-1b6aafbaa45c.png' | file_img_url: '768x768' }} 768w, {{ '432750572815254551-199c2f0c-7365-405c-9c1d-1b6aafbaa45c.png' | file_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-199c2f0c-7365-405c-9c1d-1b6aafbaa45c.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="108" height="108" alt="Alt Image"
      sizes="100vw"
      style="--aspect:108/108;--aspect-tablet:108/108;--aspect-mobile:108/108;--objf:cover;--w:36px;--w-tablet:36px;--w-mobile:36px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gzq4B8b04z gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gtKAqTlKo9 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggtKAqTlKo9_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gh5xxuN7mN gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g8QbC8zH65"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 0px 0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pl:var(--g-s-2xl);--pr:var(--g-s-3xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8QbC8zH65 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gA5j1yd8xM gp-relative gp-flex gp-flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pl-tablet:0px;--pr-tablet:0px" class="gRtZUoW9g1 ">
      
    
    <gp-form 
      id="gRtZUoW9g1"
      style=""
      data-submit-action=''
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gRtZUoW9g1"
        href="" target="_self"
      >
      </a>
      {% form 'contact', class: 'gp-form-gRtZUoW9g1 ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gRtZUoW9g1"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ section.settings.ggRtZUoW9g1_errorMessage }}
          </div>
        {% endif %}
        <div
          id="gp-form-success-gRtZUoW9g1"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ section.settings.ggRtZUoW9g1_successMessage }}
        </div>
        
      
      
    <div
      parentTag="ContactForm" id="gu2CJQNYGr"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--cg:var(--g-s-2xl);--cg-mobile:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gu2CJQNYGr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggjzD0SL33 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gONsxu5xGf "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xxs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggONsxu5xGf_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gJ0NfWCiVv "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xxs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:13px;--lh:150%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size-tablet:13px;--lh-tablet:150%;--size-mobile:17px;--ls-mobile:0px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggJ0NfWCiVv_text }}</div>
      </div>
    </div>
    <div
      
      class=""
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl)"
    >
      <input
        type="text"
        class="gp-form-item gonVAuihFd gp-text-g-text-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--pl:16px;--pr:16px;--pt:12px;--pb:12px;--tt:default;--size:16px;--lh:150%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size-tablet:16px;--size-mobile:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--b:solid;--bw:0px 0px 1px 0px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="{{ section.settings.ggonVAuihFd_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIvYXTYoaQ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gXk9UOgibB "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xxs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggXk9UOgibB_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gSh2xZ8pDU "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xxs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:13px;--lh:150%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size-tablet:13px;--lh-tablet:150%;--size-mobile:17px;--ls-mobile:0px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggSh2xZ8pDU_text }}</div>
      </div>
    </div>
    <div
      class="gfZDRB0Us2"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--size:16px;--lh:150%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size-tablet:16px;--size-mobile:14px;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--w:100%;--w-tablet:100%;--w-mobile:100%;--b:solid;--bc:#E0E0E0;--bw:0px 0px 1px 0px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="{{ section.settings.ggfZDRB0Us2_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div>
    </div>
  
    
    <div
      parentTag="ContactForm"
        class="gYN5I7tDnh "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xxs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:12px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggYN5I7tDnh_text }}</div>
      </div>
    </div>
    <div
      parentTag="ContactForm"
        class="gxb_i0P2Ip "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xxs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--size:13px;--lh:150%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size-tablet:13px;--lh-tablet:150%;--size-mobile:17px;--ls-mobile:0px;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggxb_i0P2Ip_text }}</div>
      </div>
    </div>
    <div
      
      class=""
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl)"
    >
      <input
        type="text"
        class="gp-form-item gYh2GEXdvV gp-text-g-text-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--pl:16px;--pr:16px;--pt:12px;--pb:12px;--tt:default;--size:16px;--lh:150%;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size-tablet:16px;--size-mobile:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--b:solid;--bw:0px 0px 1px 0px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="{{ section.settings.ggYh2GEXdvV_placeholder }}"
        {% if false %}
        required
        {% endif %}
        name="contact[first_name]"
        value=""
      ></input>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--ta:right;--ta-mobile:center"
    class=""
  >
    <style>
    .gzqiwmuDUd.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-2, line-2);
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .gzqiwmuDUd:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-3, line-3);
  
      
    }
  </style>
    <button
      type="submit" data-id="gzqiwmuDUd" aria-label="Envie sua mensagem"
      
      data-state="idle"
      class="gzqiwmuDUd gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#424242;--bg:rgb(178, 217, 38);--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--c:var(--g-c-text-3, text-3);--pl:45px;--pr:45px;--pt:12px;--pb:12px;--pl-tablet:45px;--pr-tablet:45px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:45px;--pr-mobile:45px;--pt-mobile:12px;--pb-mobile:12px;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--size:16px;--lh:150%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggzqiwmuDUd_label }}
      </span>
    </button>
  </div>
  </gp-button>

  
      {% endform %}
    </gp-form>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
      </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gG5b5TsVb6"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 0px 1px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:var(--g-s-2xl);--pr:var(--g-s-3xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gG5b5TsVb6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmus59ecjz gp-relative gp-flex gp-flex-col"
    >
      <div style="--pt:var(--g-s-xl);--pl:var(--g-s-l);--pb:var(--g-s-xl);--pr:var(--g-s-l);--pl-tablet:0px;--pr-tablet:0px;--radius:var(--g-radius-none);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%;--animation:[object Object]" class="gtvrJbyAQt ">
      
    
    <gp-form 
      id="gtvrJbyAQt"
      style=""
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gtvrJbyAQt"
        href="" target="_self"
      >
      </a>
      {% form 'contact', class: 'gp-form-gtvrJbyAQt ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gtvrJbyAQt"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ section.settings.ggtvrJbyAQt_errorMessage }}
          </div>
        {% endif %}
        <div
          id="gp-form-success-gtvrJbyAQt"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ section.settings.ggtvrJbyAQt_successMessage }}
        </div>
        
      
      
    <div
      parentTag="ContactForm" id="gvnD1_I9Wv"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:16px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvnD1_I9Wv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ga-xzdDGF4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class=""
      style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--op:100%;--mb:var(--g-s-l)"
    >
      <input
        type="text"
        class="gp-form-item gwhPUDdRqJ gp-text-g-text-1 !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--tt:default;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--b:solid;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="{{ section.settings.ggwhPUDdRqJ_placeholder }}"
        {% if false %}
        required
        {% endif %}
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gTClK1JctK gp-relative gp-flex gp-flex-col"
    >
      
    <div
      class="g8r_-T4cCl"
      style="--d:block;--d-tablet:block;--d-mobile:block;--op:100%;--mb:var(--g-s-l);--ta:left"
    >
      <input
        type="email"
        class="gp-form-item !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--b:solid;--bc:var(--g-c-line-2, line-2);--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="{{ section.settings.gg8r_-T4cCl_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div>
    </div>
  
    
    <div
      
      class=""
      style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--op:100%;--mb:var(--g-s-l)"
    >
      <input
        type="text"
        class="gp-form-item g0Zdk7FHXs gp-text-g-text-1 !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--tt:default;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--b:solid;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="{{ section.settings.gg0Zdk7FHXs_placeholder }}"
        {% if false %}
        required
        {% endif %}
        name="contact[phone]"
        value=""
      ></input>
    </div>
  
    <div
      
      class=""
      style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--op:100%;--mb:var(--g-s-l)"
    >
      <textarea
        class="gp-form-item gf0gLDVQ8M gp-text-g-text-1 !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none gp-min-h-[150px]"
        style="--c:var(--g-c-text-1, text-1);--tt:default;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--b:solid;--bc:var(--g-c-line-2, line-2);--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%"
        placeholder="{{ section.settings.ggf0gLDVQ8M_placeholder }}"
        {% if false %}
        required
        {% endif %}
        name="contact[note]"
        value=""
      ></textarea>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gdNpPwOjm0.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gdNpPwOjm0:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }
  </style>
    <button
      type="submit" data-id="gdNpPwOjm0" aria-label="Envie sua mensagem"
      
      data-state="idle"
      class="gdNpPwOjm0 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-g-paragraph-1"
      style="--bg:rgb(178, 217, 38);--hvr-bg:var(--g-c-highlight, highlight);--shadow:none;--c:#3D4326;--w:120%;--w-tablet:120%;--w-mobile:120%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggdNpPwOjm0_label }}
      </span>
    </button>
  </div>
  </gp-button>

  
      {% endform %}
    </gp-form>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 2",
      "tag": "section",
      "class": "gps-511429862318146592 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=511429645757842464&sectionId=511429862318146592)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggW3y3jkeO5_text","label":"ggW3y3jkeO5_text","default":"Contate-nos"},{"type":"text","id":"ggxcN2vDgq2_text","label":"ggxcN2vDgq2_text","default":"Informações de Contato"},{"type":"text","id":"gglDaYg3v4g_text","label":"gglDaYg3v4g_text","default":"Informações de contato"},{"type":"text","id":"ggu9YwGG95Q_text","label":"ggu9YwGG95Q_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(61,67,38);font-size:17px;\">Entre em contato e compartilhe seus pensamentos, dúvidas e sugestões.</span></p><p><span style=\"background-color:rgb(255,255,255);color:rgb(61,67,38);font-size:17px;\">Estamos prontos para te escutar!</span></p>"},{"type":"text","id":"gg0vf_aAyll_text","label":"gg0vf_aAyll_text","default":"<p><strong>+55 (21) 97255-8155</strong></p>"},{"type":"text","id":"ggtKAqTlKo9_text","label":"ggtKAqTlKo9_text","default":"<p><a href=\"mailto:contato@vivajui.com\"><strong>contato@vivajui.com</strong></a></p>"},{"type":"text","id":"ggONsxu5xGf_text","label":"ggONsxu5xGf_text","default":"<p>PRIMEIRO NOME</p>"},{"type":"text","id":"ggJ0NfWCiVv_text","label":"ggJ0NfWCiVv_text","default":"<p>NAME</p>"},{"type":"text","id":"ggonVAuihFd_placeholder","label":"ggonVAuihFd_placeholder","default":"Digite seu primeiro nome"},{"type":"text","id":"ggXk9UOgibB_text","label":"ggXk9UOgibB_text","default":"<p>Email</p>"},{"type":"text","id":"ggSh2xZ8pDU_text","label":"ggSh2xZ8pDU_text","default":"<p>Email</p>"},{"type":"text","id":"ggfZDRB0Us2_placeholder","label":"ggfZDRB0Us2_placeholder","default":"Digite seu e-mail"},{"type":"text","id":"ggYN5I7tDnh_text","label":"ggYN5I7tDnh_text","default":"<p>MENSAGEM</p>"},{"type":"text","id":"ggxb_i0P2Ip_text","label":"ggxb_i0P2Ip_text","default":"<p>MESSAGE</p>"},{"type":"text","id":"ggYh2GEXdvV_placeholder","label":"ggYh2GEXdvV_placeholder","default":"Digite sua mensagem"},{"type":"text","id":"ggzqiwmuDUd_label","label":"ggzqiwmuDUd_label","default":"Envie sua mensagem"},{"type":"text","id":"ggtvrJbyAQt_successMessage","label":"ggtvrJbyAQt_successMessage","default":"Obrigado por nos contatar. Entraremos em contato com você o mais breve possível."},{"type":"text","id":"ggtvrJbyAQt_errorMessage","label":"ggtvrJbyAQt_errorMessage","default":"Não é possível enviar e-mail. Por favor, tente novamente mais tarde."},{"type":"text","id":"ggwhPUDdRqJ_placeholder","label":"ggwhPUDdRqJ_placeholder","default":"Name"},{"type":"text","id":"gg8r_-T4cCl_placeholder","label":"gg8r_-T4cCl_placeholder","default":"Email"},{"type":"text","id":"gg0Zdk7FHXs_placeholder","label":"gg0Zdk7FHXs_placeholder","default":"Número de telefone"},{"type":"text","id":"ggf0gLDVQ8M_placeholder","label":"ggf0gLDVQ8M_placeholder","default":"Mensagem"},{"type":"text","id":"ggdNpPwOjm0_label","label":"ggdNpPwOjm0_label","default":"Envie sua mensagem"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
