
  
  <style> .gps-509113580566611047 .gp-relative{position:relative}.gps-509113580566611047 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509113580566611047 .gp-mb-0{margin-bottom:0}.gps-509113580566611047 .\!gp-inline{display:inline!important}.gps-509113580566611047 .gp-flex{display:flex}.gps-509113580566611047 .gp-grid{display:grid}.gps-509113580566611047 .\!gp-hidden{display:none!important}.gps-509113580566611047 .gp-hidden{display:none}.gps-509113580566611047 .gp-h-full{height:100%}.gps-509113580566611047 .gp-w-full{width:100%}.gps-509113580566611047 .gp-max-w-full{max-width:100%}.gps-509113580566611047 .gp-flex-col{flex-direction:column}.gps-509113580566611047 .gp-gap-y-0{row-gap:0}.gps-509113580566611047 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509113580566611047 .gp-duration-200{transition-duration:.2s}.gps-509113580566611047 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509113580566611047 .tablet\:\!gp-hidden{display:none!important}.gps-509113580566611047 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509113580566611047 .mobile\:\!gp-hidden{display:none!important}.gps-509113580566611047 .mobile\:gp-hidden{display:none}}.gps-509113580566611047 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gTRh51iDAl"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--mb-mobile:-20px;--pt-mobile:188px;--pl-mobile:15px;--pb-mobile:146px;--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTRh51iDAl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2mqEF9IWG gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gJdwrmnDlL"
        style="--mt:-72px;--mr:auto;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJdwrmnDlL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g0LNmmO1J7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gNnPXfrEVd"
    style="--ml:29px;--mb:0px;--mr:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:20px;--bbrr:8px;--btlr:20px;--btrr:8px;--shadow:none;--op:100%;--animation:[object Object];--ta:right"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:right"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "509069249558348903-cf1f0574-c1d4-4ed0-9d6e-2a7033a84366.png" | file_url }}" srcset="{{ '509069249558348903-cf1f0574-c1d4-4ed0-9d6e-2a7033a84366.png' | file_img_url: '768x768' }} 768w, {{ '509069249558348903-cf1f0574-c1d4-4ed0-9d6e-2a7033a84366.png' | file_img_url: '1024x1024' }} 1024w, {{ '509069249558348903-cf1f0574-c1d4-4ed0-9d6e-2a7033a84366.png' | file_img_url: 'master' }} 1440w" width="1299" height="1080" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "509069249558348903-cf1f0574-c1d4-4ed0-9d6e-2a7033a84366.png" | file_url }}" data-srcset="{{ '509069249558348903-cf1f0574-c1d4-4ed0-9d6e-2a7033a84366.png' | file_img_url: '768x768' }} 768w, {{ '509069249558348903-cf1f0574-c1d4-4ed0-9d6e-2a7033a84366.png' | file_img_url: '1024x1024' }} 1024w, {{ '509069249558348903-cf1f0574-c1d4-4ed0-9d6e-2a7033a84366.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1299" height="1080" alt="Alt image"
      sizes="100vw"
      style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gvpAS1Zk9k gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gTE31Cv0el"
    style="--ml:-18px;--mr:142px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:20px;--btlr:0px;--btrr:20px;--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "509069249558348903-f09a2ccc-0047-4cf2-a923-8bed0e866547.jpg" | file_url }}" srcset="{{ '509069249558348903-f09a2ccc-0047-4cf2-a923-8bed0e866547.jpg' | file_img_url: '768x768' }} 768w, {{ '509069249558348903-f09a2ccc-0047-4cf2-a923-8bed0e866547.jpg' | file_img_url: '1024x1024' }} 1024w, {{ '509069249558348903-f09a2ccc-0047-4cf2-a923-8bed0e866547.jpg' | file_img_url: 'master' }} 1440w" width="1025" height="1536" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "509069249558348903-f09a2ccc-0047-4cf2-a923-8bed0e866547.jpg" | file_url }}" data-srcset="{{ '509069249558348903-f09a2ccc-0047-4cf2-a923-8bed0e866547.jpg' | file_img_url: '768x768' }} 768w, {{ '509069249558348903-f09a2ccc-0047-4cf2-a923-8bed0e866547.jpg' | file_img_url: '1024x1024' }} 1024w, {{ '509069249558348903-f09a2ccc-0047-4cf2-a923-8bed0e866547.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1025" height="1536" alt="Alt image"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 2",
      "tag": "section",
      "class": "gps-509113580566611047 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=509069657949340775&sectionId=509113580566611047)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
