
  
  <style> .gps-513293172122583910 .gp-relative{position:relative}.gps-513293172122583910 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-513293172122583910 .gp-mb-0{margin-bottom:0}.gps-513293172122583910 .\!gp-inline{display:inline!important}.gps-513293172122583910 .gp-flex{display:flex}.gps-513293172122583910 .gp-grid{display:grid}.gps-513293172122583910 .\!gp-hidden{display:none!important}.gps-513293172122583910 .gp-hidden{display:none}.gps-513293172122583910 .gp-h-full{height:100%}.gps-513293172122583910 .gp-w-full{width:100%}.gps-513293172122583910 .gp-max-w-full{max-width:100%}.gps-513293172122583910 .gp-flex-col{flex-direction:column}.gps-513293172122583910 .gp-gap-y-0{row-gap:0}.gps-513293172122583910 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-513293172122583910 .gp-duration-200{transition-duration:.2s}.gps-513293172122583910 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-513293172122583910 .tablet\:\!gp-hidden{display:none!important}.gps-513293172122583910 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-513293172122583910 .mobile\:\!gp-hidden{display:none!important}.gps-513293172122583910 .mobile\:gp-hidden{display:none}}.gps-513293172122583910 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gQ1hV6kDUy"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQ1hV6kDUy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gS7r6PHjzn gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gOy0HW5GzB"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_509069249558348903-facebc3c-2d72-451c-984d-74582f1e98ef.jpg" | file_url }}" srcset="{{ 'gempages_509069249558348903-facebc3c-2d72-451c-984d-74582f1e98ef.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-facebc3c-2d72-451c-984d-74582f1e98ef.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-facebc3c-2d72-451c-984d-74582f1e98ef.jpg' | file_img_url: 'master' }} 1440w" width="960" height="639" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:960/639;--aspect-tablet:960/639;--aspect-mobile:960/639;--objf:cover;--w:100%;--w-tablet:1200px;--w-mobile:1200px;--h:600px;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_509069249558348903-facebc3c-2d72-451c-984d-74582f1e98ef.jpg" | file_url }}" data-srcset="{{ 'gempages_509069249558348903-facebc3c-2d72-451c-984d-74582f1e98ef.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-facebc3c-2d72-451c-984d-74582f1e98ef.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-facebc3c-2d72-451c-984d-74582f1e98ef.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="960" height="639" alt="Alt Image"
      sizes="100vw"
      style="--aspect:960/639;--aspect-tablet:960/639;--aspect-mobile:960/639;--objf:cover;--w:100%;--w-tablet:1200px;--w-mobile:1200px;--h:600px;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 1",
      "tag": "section",
      "class": "gps-513293172122583910 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_ARTICLE&editorId=513293172021920614&sectionId=513293172122583910)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
