
  <style> @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,600,500&display=swap'); </style>
  <style> .gps-509069660113601439 .gp-rotate-0,.gps-509069660113601439 .gp-rotate-180,.gps-509069660113601439 .mobile\:gp-rotate-0,.gps-509069660113601439 .mobile\:gp-rotate-180,.gps-509069660113601439 .tablet\:gp-rotate-0,.gps-509069660113601439 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-509069660113601439 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-509069660113601439 .gp-invisible{visibility:hidden}.gps-509069660113601439 .gp-absolute{position:absolute}.gps-509069660113601439 .\!gp-relative{position:relative!important}.gps-509069660113601439 .gp-relative{position:relative}.gps-509069660113601439 .gp-z-1{z-index:1}.gps-509069660113601439 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509069660113601439 .gp-my-0{margin-bottom:0;margin-top:0}.gps-509069660113601439 .gp-mb-0{margin-bottom:0}.gps-509069660113601439 .gp-block{display:block}.gps-509069660113601439 .\!gp-inline{display:inline!important}.gps-509069660113601439 .\!gp-flex{display:flex!important}.gps-509069660113601439 .gp-flex{display:flex}.gps-509069660113601439 .gp-inline-flex{display:inline-flex}.gps-509069660113601439 .gp-grid{display:grid}.gps-509069660113601439 .\!gp-hidden{display:none!important}.gps-509069660113601439 .gp-hidden{display:none}.gps-509069660113601439 .gp-aspect-square{aspect-ratio:1/1}.gps-509069660113601439 .gp-h-5{height:20px}.gps-509069660113601439 .gp-h-full{height:100%}.gps-509069660113601439 .\!gp-min-h-full{min-height:100%!important}.gps-509069660113601439 .gp-w-5{width:20px}.gps-509069660113601439 .gp-w-\[12px\]{width:12px}.gps-509069660113601439 .gp-w-full{width:100%}.gps-509069660113601439 .gp-max-w-full{max-width:100%}.gps-509069660113601439 .gp-shrink-0{flex-shrink:0}.gps-509069660113601439 .gp-rotate-0{--tw-rotate:0deg}.gps-509069660113601439 .gp-rotate-0,.gps-509069660113601439 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-509069660113601439 .gp-rotate-180{--tw-rotate:180deg}.gps-509069660113601439 .gp-cursor-pointer{cursor:pointer}.gps-509069660113601439 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-509069660113601439 .\!gp-flex-row{flex-direction:row!important}.gps-509069660113601439 .gp-flex-row{flex-direction:row}.gps-509069660113601439 .gp-flex-col{flex-direction:column}.gps-509069660113601439 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-509069660113601439 .gp-items-center{align-items:center}.gps-509069660113601439 .gp-justify-center{justify-content:center}.gps-509069660113601439 .gp-justify-between{justify-content:space-between}.gps-509069660113601439 .gp-gap-2{gap:8px}.gps-509069660113601439 .gp-gap-y-0{row-gap:0}.gps-509069660113601439 .gp-overflow-hidden{overflow:hidden}.gps-509069660113601439 .gp-break-words{overflow-wrap:break-word}.gps-509069660113601439 .gp-rounded-full{border-radius:9999px}.gps-509069660113601439 .gp-rounded-none{border-radius:0}.gps-509069660113601439 .gp-text-center{text-align:center}.gps-509069660113601439 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-509069660113601439 .gp-no-underline{text-decoration-line:none}.gps-509069660113601439 .gp-opacity-25{opacity:.25}.gps-509069660113601439 .gp-opacity-75{opacity:.75}.gps-509069660113601439 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-509069660113601439 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509069660113601439 .gp-duration-200{transition-duration:.2s}.gps-509069660113601439 .gp-duration-300{transition-duration:.3s}.gps-509069660113601439 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509069660113601439 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-509069660113601439 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-509069660113601439 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-509069660113601439 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-509069660113601439 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-509069660113601439 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-509069660113601439 .tablet\:gp-block{display:block}.gps-509069660113601439 .tablet\:\!gp-hidden{display:none!important}.gps-509069660113601439 .tablet\:gp-hidden{display:none}.gps-509069660113601439 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-509069660113601439 .tablet\:gp-w-full{width:100%}.gps-509069660113601439 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-509069660113601439 .tablet\:gp-rotate-0,.gps-509069660113601439 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-509069660113601439 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-509069660113601439 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-509069660113601439 .tablet\:gp-flex-row{flex-direction:row}.gps-509069660113601439 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-509069660113601439 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-509069660113601439 .mobile\:gp-block{display:block}.gps-509069660113601439 .mobile\:\!gp-hidden{display:none!important}.gps-509069660113601439 .mobile\:gp-hidden{display:none}.gps-509069660113601439 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-509069660113601439 .mobile\:gp-w-full{width:100%}.gps-509069660113601439 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-509069660113601439 .mobile\:gp-rotate-0,.gps-509069660113601439 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-509069660113601439 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-509069660113601439 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-509069660113601439 .mobile\:gp-flex-row{flex-direction:row}.gps-509069660113601439 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-509069660113601439 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-509069660113601439 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-509069660113601439 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-509069660113601439 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509069660113601439 .\[\&_p\]\:gp-inline p{display:inline}.gps-509069660113601439 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-509069660113601439 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509069660113601439 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="bcKAFO6lj_"
        style="--border:;--rounded:;--pt:72px;--pl:15px;--pb:134px;--pr:15px;--pt-mobile:56px;--pl-mobile:15px;--pb-mobile:198px;--pr-mobile:15px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="bcKAFO6lj_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="NcU8XYz1xj gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gxwFK8twM6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxwFK8twM6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwT1qfjBvj gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="vELMPvUEqs "
        style="--tt:capitalize;--ta:center;--border:;--rounded:;--mb:var(--g-s-s);--textColor:#666666"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#666666;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:capitalize;word-break:break-word;overflow:hidden"
        >your new home awaits</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="2GimVaKE5a "
        style="--tt:uppercase;--ta:center;--border:;--rounded:;--mb:56px;--mb-mobile:40px;--pl-mobile:15px;--pr-mobile:15px;--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#000000;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:600;--ls:1px;--lh:120%;--size:44px;--size-tablet:44px;--size-mobile:38px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >Styling tips &amp; inspirations</h2>
      </div>
    </div>
    <gp-carousel  id="gp-root-carousel-ggKFA31k4G-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"ggKFA31k4G-{{section.id}}","setting":{"animationMode":"ease-in","arrow":{"desktop":true,"mobile":false,"tablet":false},"arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" className=\"w-6 h-6\"  viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M148.672 52.672a16 16 0 0 1 22.656 0l192 192a16 16 0 0 1 0 22.656l-192 192a16 16 0 0 1 -22.656 -22.656L329.376 256 148.672 75.328a16 16 0 0 1 0 -22.656z\" /></svg>","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":false,"autoplayTimeout":2,"childItem":["Slide 1","Slide 2","Slide 3"],"controlOverContent":{"desktop":false},"dot":{"desktop":false,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"#C7660C"},"dotColor":{"desktop":"#F1CCA9"},"dotGapToCarousel":{"desktop":16,"mobile":16,"tablet":16},"dotSize":{"desktop":12,"mobile":12,"tablet":12},"dotStyle":{"desktop":"none","mobile":"outside","tablet":"outside"},"enableDrag":{"desktop":false},"itemNumber":{"desktop":3,"mobile":1,"tablet":3},"loop":{"desktop":false},"navigationStyle":{"desktop":"outside","mobile":"none","tablet":"none"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"sneakPeak":{"desktop":false,"mobile":false,"tablet":false},"sneakPeakOffsetCenter":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":50,"tablet":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"playSpeed":500,"sizeSetting":{"desktop":{"height":"auto","width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}},"spacing":{"desktop":16}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block ggKFA31k4G"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mt-mobile:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:calc(100% - 12px - 16px);--h-mobile:calc(100% - 12px - 16px);gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-carousel-action-back gem-slider-previous ggKFA31k4G-{{section.id}} gp-carousel-arrow-ggKFA31k4G gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative  tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:none;--d-mobile:none;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 52.672a16 16 0 0 1 22.656 0l192 192a16 16 0 0 1 0 22.656l-192 192a16 16 0 0 1 -22.656 -22.656L329.376 256 148.672 75.328a16 16 0 0 1 0 -22.656z" /></svg>
    </div>
      <style>
    .gp-carousel-arrow-ggKFA31k4G {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-ggKFA31k4G::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-ggKFA31k4G {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-ggKFA31k4G::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-ggKFA31k4G {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-ggKFA31k4G::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-ggKFA31k4G-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--minw:calc(100% / 3 - 10.666666666666666px);--minw-tablet:calc(100% / 3 - 10.666666666666666px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 10.666666666666666px);--maxw-tablet:calc(100% / 3 - 10.666666666666666px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gC8hWbNMKW"
    >
      <div
    
    role="presentation"
    class="gp-group/image x6TG-dj6zE"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/ada0f1d4-c092-4847-afb7-f27e5efbe904/-/format/auto/-/preview/576x576/-/quality/lighter/" srcset="https://ucarecdn.com/ada0f1d4-c092-4847-afb7-f27e5efbe904/-/format/auto/-/preview/576x576/-/quality/lighter/ 768w,https://ucarecdn.com/ada0f1d4-c092-4847-afb7-f27e5efbe904/-/format/auto/-/preview/576x576/-/quality/lighter/ 1024w,https://ucarecdn.com/ada0f1d4-c092-4847-afb7-f27e5efbe904/-/format/auto/-/preview/576x576/-/quality/lighter/ 1440w" width="576" height="338" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:576/338;--aspect-tablet:576/338;--aspect-mobile:576/338;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/ada0f1d4-c092-4847-afb7-f27e5efbe904/-/format/auto/-/preview/576x576/-/quality/lighter/" data-srcset="https://ucarecdn.com/ada0f1d4-c092-4847-afb7-f27e5efbe904/-/format/auto/-/preview/576x576/-/quality/lighter/ 768w,https://ucarecdn.com/ada0f1d4-c092-4847-afb7-f27e5efbe904/-/format/auto/-/preview/576x576/-/quality/lighter/ 1024w,https://ucarecdn.com/ada0f1d4-c092-4847-afb7-f27e5efbe904/-/format/auto/-/preview/576x576/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="576" height="338" alt="Alt Image"
      sizes="100vw"
      style="--aspect:576/338;--aspect-tablet:576/338;--aspect-mobile:576/338;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="CarouselItem"
        class="l9KIDwk6Bq "
        style="--tt:default;--ta:left;--border:;--rounded:;--pt:16px;--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#000000;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >10 Eco-Friendly Outdoor In The Future</div>
      </div>
    </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--minw:calc(100% / 3 - 10.666666666666666px);--minw-tablet:calc(100% / 3 - 10.666666666666666px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 10.666666666666666px);--maxw-tablet:calc(100% / 3 - 10.666666666666666px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gIVpyF0hhG"
    >
      <div
    
    role="presentation"
    class="gp-group/image x0yLWd4_kq"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/387dc417-a6b7-4874-ada2-c55e5176dada/-/format/auto/-/preview/576x576/-/quality/lighter/" srcset="https://ucarecdn.com/387dc417-a6b7-4874-ada2-c55e5176dada/-/format/auto/-/preview/576x576/-/quality/lighter/ 768w,https://ucarecdn.com/387dc417-a6b7-4874-ada2-c55e5176dada/-/format/auto/-/preview/576x576/-/quality/lighter/ 1024w,https://ucarecdn.com/387dc417-a6b7-4874-ada2-c55e5176dada/-/format/auto/-/preview/576x576/-/quality/lighter/ 1440w" width="576" height="338" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:576/338;--aspect-tablet:576/338;--aspect-mobile:576/338;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/387dc417-a6b7-4874-ada2-c55e5176dada/-/format/auto/-/preview/576x576/-/quality/lighter/" data-srcset="https://ucarecdn.com/387dc417-a6b7-4874-ada2-c55e5176dada/-/format/auto/-/preview/576x576/-/quality/lighter/ 768w,https://ucarecdn.com/387dc417-a6b7-4874-ada2-c55e5176dada/-/format/auto/-/preview/576x576/-/quality/lighter/ 1024w,https://ucarecdn.com/387dc417-a6b7-4874-ada2-c55e5176dada/-/format/auto/-/preview/576x576/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="576" height="338" alt="Alt Image"
      sizes="100vw"
      style="--aspect:576/338;--aspect-tablet:576/338;--aspect-mobile:576/338;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="CarouselItem"
        class="ZqdamnkZqk "
        style="--tt:default;--ta:left;--border:;--rounded:;--pt:16px;--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#000000;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >Eco-style interior: the design of the century
</div>
      </div>
    </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--minw:calc(100% / 3 - 10.666666666666666px);--minw-tablet:calc(100% / 3 - 10.666666666666666px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 10.666666666666666px);--maxw-tablet:calc(100% / 3 - 10.666666666666666px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gjL1LCrdn1"
    >
      <div
    
    role="presentation"
    class="gp-group/image F843Mlw11M"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="https://ucarecdn.com/353eb4ab-a370-417c-87f3-9e180c7457ab/-/format/auto/-/preview/576x576/-/quality/lighter/" srcset="https://ucarecdn.com/353eb4ab-a370-417c-87f3-9e180c7457ab/-/format/auto/-/preview/576x576/-/quality/lighter/ 768w,https://ucarecdn.com/353eb4ab-a370-417c-87f3-9e180c7457ab/-/format/auto/-/preview/576x576/-/quality/lighter/ 1024w,https://ucarecdn.com/353eb4ab-a370-417c-87f3-9e180c7457ab/-/format/auto/-/preview/576x576/-/quality/lighter/ 1440w" width="576" height="338" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:576/338;--aspect-tablet:576/338;--aspect-mobile:576/338;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="https://ucarecdn.com/353eb4ab-a370-417c-87f3-9e180c7457ab/-/format/auto/-/preview/576x576/-/quality/lighter/" data-srcset="https://ucarecdn.com/353eb4ab-a370-417c-87f3-9e180c7457ab/-/format/auto/-/preview/576x576/-/quality/lighter/ 768w,https://ucarecdn.com/353eb4ab-a370-417c-87f3-9e180c7457ab/-/format/auto/-/preview/576x576/-/quality/lighter/ 1024w,https://ucarecdn.com/353eb4ab-a370-417c-87f3-9e180c7457ab/-/format/auto/-/preview/576x576/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="576" height="338" alt="Alt Image"
      sizes="100vw"
      style="--aspect:576/338;--aspect-tablet:576/338;--aspect-mobile:576/338;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="CarouselItem"
        class="ed1Zt_aOZg "
        style="--tt:default;--ta:left;--border:;--rounded:;--pt:16px;--textColor:#000000"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#000000;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >5 Eco Friendly Home Building Ideas</div>
      </div>
    </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-carousel-action-next gem-slider-next ggKFA31k4G-{{section.id}} gp-carousel-arrow-ggKFA31k4G gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative  tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:flex;--d-tablet:none;--d-mobile:none;background-color:;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 52.672a16 16 0 0 1 22.656 0l192 192a16 16 0 0 1 0 22.656l-192 192a16 16 0 0 1 -22.656 -22.656L329.376 256 148.672 75.328a16 16 0 0 1 0 -22.656z" /></svg>
    </div>
      <style>
    .gp-carousel-arrow-ggKFA31k4G {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-ggKFA31k4G::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-ggKFA31k4G {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-ggKFA31k4G::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-ggKFA31k4G {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-ggKFA31k4G::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-ggKFA31k4G-{{section.id}} gp-flex-row gp-w-full tablet:gp-flex-row tablet:gp-w-full mobile:gp-flex-row mobile:gp-w-full"
    style="--bottom:16px;--mt-tablet:16px;--mt-mobile:16px;--d:none;--d-tablet:flex;--d-mobile:flex"
 ></div>
      </div>
    </gp-carousel>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:40px;--mt-mobile:49px;--ta:center"
    class=""
  >
    <style>
    .g-cWHEo_IJ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #C7660C;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g-cWHEo_IJ:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #7A3D04;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }
  </style>
    <button
      type="button" data-id="g-cWHEo_IJ" aria-label="BE MORE INSPIRED"
      data-state="idle"
      class="g-cWHEo_IJ gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:transparent;--bg:transparent;--hvr-c:#7A3D04;--c:#C7660C;--pl:55px;--pr:55px;--pt:16px;--pb:16px;--pl-tablet:55px;--pr-tablet:55px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:55px;--pr-mobile:55px;--pt-mobile:16px;--pb-mobile:16px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:uppercase;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:2px;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:16px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:uppercase"
      >
        BE MORE INSPIRED
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 8",
      "tag": "section",
      "class": "gps-509069660113601439 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=509069657949340775&sectionId=509069660113601439)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
