
  <style> @import url('https://fonts.googleapis.com/css?family=Athletics+ExtraBold:400|Athletics+Regular:400|Athletics+Light:400&display=swap'); </style>
  <style> .gps-511770980365042855 .gp-relative{position:relative}.gps-511770980365042855 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511770980365042855 .gp-mb-0{margin-bottom:0}.gps-511770980365042855 .\!gp-inline{display:inline!important}.gps-511770980365042855 .gp-flex{display:flex}.gps-511770980365042855 .gp-grid{display:grid}.gps-511770980365042855 .\!gp-hidden{display:none!important}.gps-511770980365042855 .gp-hidden{display:none}.gps-511770980365042855 .gp-h-full{height:100%}.gps-511770980365042855 .gp-w-full{width:100%}.gps-511770980365042855 .gp-max-w-full{max-width:100%}.gps-511770980365042855 .gp-flex-col{flex-direction:column}.gps-511770980365042855 .gp-gap-y-0{row-gap:0}.gps-511770980365042855 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511770980365042855 .gp-duration-200{transition-duration:.2s}.gps-511770980365042855 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-511770980365042855 .tablet\:\!gp-hidden{display:none!important}.gps-511770980365042855 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511770980365042855 .mobile\:\!gp-hidden{display:none!important}.gps-511770980365042855 .mobile\:gp-hidden{display:none}}.gps-511770980365042855 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511770980365042855 .\[\&_p\]\:gp-inline p{display:inline}.gps-511770980365042855 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-511770980365042855 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g5c3nuPHvb"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:32px;--pb:0px;--cg:32px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5c3nuPHvb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2pa4scXGU gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gxjBMwe24d"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxjBMwe24d gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gAcg4hosPL gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gi19gczBWl"
        style="--ml:auto;--mr:auto;--pt:40px;--pl:40px;--pb:90px;--pr:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:600px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F2EDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gi19gczBWl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gjixoZ6X6Z gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gzP_qJXK0F "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--ta:left;--ff:var(--g-font-Athletics-ExtraBold, 'Athletics ExtraBold'), var(--g-font-heading, heading);--lh:130%;--size:46px;--size-tablet:46px;--size-mobile:41px;--weight:bold;--c:#7D8B47;word-break:break-word;--bgc:#F2EDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzP_qJXK0F_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="goNji6gd08 "
        style="--ta:left;--pb:10px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoNji6gd08_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-goNji6gd08"
      >.goNji6gd08 {

}
.goNji6gd08 p {

}</style>
    
      
      
    <div
      parentTag="Col" id="gHFdUPLIC5"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHFdUPLIC5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gNhAID_gl8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gHzw01M79b "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHzw01M79b_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gHzw01M79b"
      >.gHzw01M79b {

}
.gHzw01M79b p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g0gr8EixGk gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gkO67dn5xM "
        style="--ta:left;--pr:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggkO67dn5xM_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gkO67dn5xM"
      >.gkO67dn5xM {

}
.gkO67dn5xM p {

}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gfsfIyxwF3"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfsfIyxwF3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gScJvmfaYZ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gzzTMYa3gS "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzzTMYa3gS_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gzzTMYa3gS"
      >.gzzTMYa3gS {

}
.gzzTMYa3gS p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gqzhIy7Kix gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g2oUQZPPQu "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2oUQZPPQu_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g2oUQZPPQu"
      >.g2oUQZPPQu {

}
.g2oUQZPPQu p {

}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g6EWf-CF0L"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6EWf-CF0L gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gzDqju9y7k gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gCS6yrrYcB "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCS6yrrYcB_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gCS6yrrYcB"
      >.gCS6yrrYcB {

}
.gCS6yrrYcB p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gJdK8JXYME gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ghZqXYdQQE "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghZqXYdQQE_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-ghZqXYdQQE"
      >.ghZqXYdQQE {

}
.ghZqXYdQQE p {

}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gJU2TeiqPZ"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJU2TeiqPZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gmcPrVnExX gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gsN0lSHZP2 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggsN0lSHZP2_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gsN0lSHZP2"
      >.gsN0lSHZP2 {

}
.gsN0lSHZP2 p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gHOlriGqQ_ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ghy7cfQt4r "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghy7cfQt4r_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-ghy7cfQt4r"
      >.ghy7cfQt4r {

}
.ghy7cfQt4r p {

}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gl9S4qgj-A"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gl9S4qgj-A gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gnvs2QSxwn gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ginR5sbJTN "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gginR5sbJTN_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-ginR5sbJTN"
      >.ginR5sbJTN {

}
.ginR5sbJTN p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtFV3KNZR4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gBoLpe2nem "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBoLpe2nem_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gBoLpe2nem"
      >.gBoLpe2nem {

}
.gBoLpe2nem p {

}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gDUhjzENgO"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDUhjzENgO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gArnb2D_uH gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g_u0ECHtRO "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_u0ECHtRO_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g_u0ECHtRO"
      >.g_u0ECHtRO {

}
.g_u0ECHtRO p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gqR1plOJm2 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g_mpPNi8eI "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_mpPNi8eI_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g_mpPNi8eI"
      >.g_mpPNi8eI {

}
.g_mpPNi8eI p {

}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g_seTQPPYp"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_seTQPPYp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_0z1qYp7r gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g23c0_XhN4 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg23c0_XhN4_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g23c0_XhN4"
      >.g23c0_XhN4 {

}
.g23c0_XhN4 p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g-f-T8plQp gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gm6nMgMxpg "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggm6nMgMxpg_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gm6nMgMxpg"
      >.gm6nMgMxpg {

}
.gm6nMgMxpg p {

}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gCR6oiY3Pm"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCR6oiY3Pm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gpqMKTQ9Bg gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g2Sj5NBmak "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2Sj5NBmak_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g2Sj5NBmak"
      >.g2Sj5NBmak {

}
.g2Sj5NBmak p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gBZ8AY45uj gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g5OPiDVyvU "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Athletics-Light, 'Athletics Light'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg5OPiDVyvU_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g5OPiDVyvU"
      >.g5OPiDVyvU {

}
.g5OPiDVyvU p {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g9qsIGpO_X"
        style="--mt:-40px;--ml:auto;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:600px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9qsIGpO_X gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="go2CcLZFXn gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gLkkAIeTSC"
    style="--ml:10px;--pl:0px;--pr:10px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_509069249558348903-293fcb6f-bb29-4ba5-89ba-298d47275057.png" | file_url }}" srcset="{{ 'gempages_509069249558348903-293fcb6f-bb29-4ba5-89ba-298d47275057.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-293fcb6f-bb29-4ba5-89ba-298d47275057.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-293fcb6f-bb29-4ba5-89ba-298d47275057.png' | file_img_url: 'master' }} 1440w" width="943" height="257" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_509069249558348903-293fcb6f-bb29-4ba5-89ba-298d47275057.png" | file_url }}" data-srcset="{{ 'gempages_509069249558348903-293fcb6f-bb29-4ba5-89ba-298d47275057.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-293fcb6f-bb29-4ba5-89ba-298d47275057.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-293fcb6f-bb29-4ba5-89ba-298d47275057.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="943" height="257" alt="Alt image"
      sizes="100vw"
      style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gLkkAIeTSC"
      >.gLkkAIeTSC {

}
.gLkkAIeTSC > figure > img {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtAf_Jw73f gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g8Ac7WKe11"
    style="--mr:10px;--pl:10px;--pr:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_509069249558348903-9a303062-a776-44de-b6c1-580d90777a2b.png" | file_url }}" srcset="{{ 'gempages_509069249558348903-9a303062-a776-44de-b6c1-580d90777a2b.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-9a303062-a776-44de-b6c1-580d90777a2b.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-9a303062-a776-44de-b6c1-580d90777a2b.png' | file_img_url: 'master' }} 1440w" width="943" height="257" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:943/257;--aspect-tablet:943/257;--aspect-mobile:943/257;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_509069249558348903-9a303062-a776-44de-b6c1-580d90777a2b.png" | file_url }}" data-srcset="{{ 'gempages_509069249558348903-9a303062-a776-44de-b6c1-580d90777a2b.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-9a303062-a776-44de-b6c1-580d90777a2b.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-9a303062-a776-44de-b6c1-580d90777a2b.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="943" height="257" alt="Alt image"
      sizes="100vw"
      style="--aspect:943/257;--aspect-tablet:943/257;--aspect-mobile:943/257;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-g8Ac7WKe11"
      >.g8Ac7WKe11 {

}
.g8Ac7WKe11 > figure > img {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g8aryzD2C3 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gwjItX8hVE"
    style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_509069249558348903-81ecc9ac-a78d-4b11-b58a-d85ae0f6cb26.png" | file_url }}" srcset="{{ 'gempages_509069249558348903-81ecc9ac-a78d-4b11-b58a-d85ae0f6cb26.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-81ecc9ac-a78d-4b11-b58a-d85ae0f6cb26.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-81ecc9ac-a78d-4b11-b58a-d85ae0f6cb26.png' | file_img_url: 'master' }} 1440w" width="3046" height="2000" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:3046/2000;--aspect-tablet:3046/2000;--aspect-mobile:3046/2000;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_509069249558348903-81ecc9ac-a78d-4b11-b58a-d85ae0f6cb26.png" | file_url }}" data-srcset="{{ 'gempages_509069249558348903-81ecc9ac-a78d-4b11-b58a-d85ae0f6cb26.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-81ecc9ac-a78d-4b11-b58a-d85ae0f6cb26.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-81ecc9ac-a78d-4b11-b58a-d85ae0f6cb26.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="3046" height="2000" alt="Alt image"
      sizes="100vw"
      style="--aspect:3046/2000;--aspect-tablet:3046/2000;--aspect-mobile:3046/2000;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gwjItX8hVE"
      >.gwjItX8hVE {

}
.gwjItX8hVE > figure > img {

}</style>
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 7",
      "tag": "section",
      "class": "gps-511770980365042855 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=511770980264182951&sectionId=511770980365042855)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggzP_qJXK0F_text","label":"ggzP_qJXK0F_text","default":"<strong>Muito mais economia</strong>"},{"type":"text","id":"ggoNji6gd08_text","label":"ggoNji6gd08_text","default":"<p><strong>Ingredientes&nbsp;</strong></p>"},{"type":"text","id":"ggHzw01M79b_text","label":"ggHzw01M79b_text","default":"<p><strong>Mix de Greens &amp; Superfoods</strong></p>"},{"type":"text","id":"ggkO67dn5xM_text","label":"ggkO67dn5xM_text","default":"<p><strong>R$ 3,87</strong></p>"},{"type":"text","id":"ggzzTMYa3gS_text","label":"ggzzTMYa3gS_text","default":"<p><strong>1 colher de chá de Spirulina</strong></p>"},{"type":"text","id":"gg2oUQZPPQu_text","label":"gg2oUQZPPQu_text","default":"<p><strong>R$ 0,75</strong></p>"},{"type":"text","id":"ggCS6yrrYcB_text","label":"ggCS6yrrYcB_text","default":"<p><strong>1 colher de chá de Chlorella</strong></p>"},{"type":"text","id":"gghZqXYdQQE_text","label":"gghZqXYdQQE_text","default":"<p><strong>R$ 0,64</strong></p>"},{"type":"text","id":"ggsN0lSHZP2_text","label":"ggsN0lSHZP2_text","default":"<p><strong>1 colher de chá de Cúrcuma</strong></p>"},{"type":"text","id":"gghy7cfQt4r_text","label":"gghy7cfQt4r_text","default":"<p><strong>R$ 1,17</strong></p>"},{"type":"text","id":"gginR5sbJTN_text","label":"gginR5sbJTN_text","default":"<p><strong>Mix de Antioxidantes</strong></p>"},{"type":"text","id":"ggBoLpe2nem_text","label":"ggBoLpe2nem_text","default":"<p><strong>R$ 1,43</strong></p>"},{"type":"text","id":"gg_u0ECHtRO_text","label":"gg_u0ECHtRO_text","default":"<p><strong>Blend de Fibras</strong></p>"},{"type":"text","id":"gg_mpPNi8eI_text","label":"gg_mpPNi8eI_text","default":"<p><strong>R$ 1,11</strong></p>"},{"type":"text","id":"gg23c0_XhN4_text","label":"gg23c0_XhN4_text","default":"<p><strong>30mg Biotina</strong></p>"},{"type":"text","id":"ggm6nMgMxpg_text","label":"ggm6nMgMxpg_text","default":"<p><strong>R$ 1,07</strong></p>"},{"type":"text","id":"gg2Sj5NBmak_text","label":"gg2Sj5NBmak_text","default":"<p><strong>Blend de Vitaminas</strong></p>"},{"type":"text","id":"gg5OPiDVyvU_text","label":"gg5OPiDVyvU_text","default":"<p><strong>R$2,25</strong></p>"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
