
  <style> @import url('https://fonts.googleapis.com/css?family=Manrope:400,700&display=swap'); </style>
  <style> .gps-513820934533022704 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-513820934533022704 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-513820934533022704 .gp-relative{position:relative}.gps-513820934533022704 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-513820934533022704 .gp-mb-0{margin-bottom:0}.gps-513820934533022704 .gp-block{display:block}.gps-513820934533022704 .\!gp-inline{display:inline!important}.gps-513820934533022704 .gp-flex{display:flex}.gps-513820934533022704 .gp-inline-flex{display:inline-flex}.gps-513820934533022704 .gp-grid{display:grid}.gps-513820934533022704 .\!gp-hidden{display:none!important}.gps-513820934533022704 .gp-hidden{display:none}.gps-513820934533022704 .gp-h-full{height:100%}.gps-513820934533022704 .gp-w-full{width:100%}.gps-513820934533022704 .gp-max-w-full{max-width:100%}.gps-513820934533022704 .gp-flex-none{flex:none}.gps-513820934533022704 .gp-flex-col{flex-direction:column}.gps-513820934533022704 .gp-items-center{align-items:center}.gps-513820934533022704 .gp-justify-start{justify-content:flex-start}.gps-513820934533022704 .gp-justify-center{justify-content:center}.gps-513820934533022704 .gp-gap-y-0{row-gap:0}.gps-513820934533022704 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-513820934533022704 .gp-duration-200{transition-duration:.2s}.gps-513820934533022704 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-513820934533022704 .tablet\:gp-block{display:block}.gps-513820934533022704 .tablet\:\!gp-hidden{display:none!important}.gps-513820934533022704 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-513820934533022704 .mobile\:gp-block{display:block}.gps-513820934533022704 .mobile\:\!gp-hidden{display:none!important}.gps-513820934533022704 .mobile\:gp-hidden{display:none}}.gps-513820934533022704 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-513820934533022704 .\[\&_p\]\:gp-inline p{display:inline}.gps-513820934533022704 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-513820934533022704 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:calc(1720px + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g8Nq5wC6cv"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mr:auto;--pt:0px;--pb:40px;--pr:0px;--pt-mobile:0px;--pb-mobile:0px;--cg:10px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:1720px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:100% 50%;--bgs:contain;--bgr:no-repeat;--bga:scroll"
        class="g8Nq5wC6cv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdpN_GSTzv gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gt63fYr8Jq"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gt63fYr8Jq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7a-MrYP4y gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gxjBMwe24d"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxjBMwe24d gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAcg4hosPL gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gNihMhGIzf"
        style="--ml:122px;--mb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:10px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNihMhGIzf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g1xxbrLbmI gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gHwpex_FEm"
        style="--ml:auto;--mr:auto;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHwpex_FEm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gZLOhMuJXt gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gi19gczBWl"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:2.4492935982947064e-16px 4px 12px 0px rgba(0, 0, 0, 0.20);--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:true;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mt:-28px;--ml:auto;--mr:auto;--pt:40px;--pl:20px;--pb:70px;--pr:20px;--mt-mobile:0px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:40px;--pl-mobile:20px;--pb-mobile:70px;--pr-mobile:20px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:600px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F2EDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gi19gczBWl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjixoZ6X6Z gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gzP_qJXK0F "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--ta:left;--weight:bold;--c:#7D8B47;word-break:break-word;--bgc:#F2EDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzP_qJXK0F_text }}</h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gKQjezoMyG"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKQjezoMyG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gMIHEkIJsz gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="goNji6gd08 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoNji6gd08_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-goNji6gd08"
      >.goNji6gd08 {

}
.goNji6gd08 p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gQRuMCRDgc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gN3-haoAMI "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggN3-haoAMI_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gN3-haoAMI"
      >.gN3-haoAMI {

}
.gN3-haoAMI p {

}</style>
    
    </div>
    </div>
  
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:12px;--pb:12px" class="g7KsHE2ohP ">
      
    <div
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:var(--g-c-line-2, line-2)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
      
      
    <div
      parentTag="Col" id="g0rogOnRGR"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0rogOnRGR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="goBqAqQ2uE gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gHzw01M79b "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pb:5px;--pb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHzw01M79b_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gHzw01M79b"
      >.gHzw01M79b {

}
.gHzw01M79b p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g04R6Z29uV gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gA4GWqoWl1 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggA4GWqoWl1_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gA4GWqoWl1"
      >.gA4GWqoWl1 {

}
.gA4GWqoWl1 p {

}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gHFdUPLIC5"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHFdUPLIC5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNhAID_gl8 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gQeF3hI9zU"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQeF3hI9zU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gz9gUe2B-I gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gzzTMYa3gS "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:5px;--pb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzzTMYa3gS_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gzzTMYa3gS"
      >.gzzTMYa3gS {

}
.gzzTMYa3gS p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="glkRyfksSj gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g2oUQZPPQu "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2oUQZPPQu_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g2oUQZPPQu"
      >.g2oUQZPPQu {

}
.g2oUQZPPQu p {

}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gSapDLbXK1"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSapDLbXK1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gMJO1gKxYl gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gCS6yrrYcB "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:5px;--pb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCS6yrrYcB_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gCS6yrrYcB"
      >.gCS6yrrYcB {

}
.gCS6yrrYcB p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g3MRpwBTZt gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ghZqXYdQQE "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghZqXYdQQE_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-ghZqXYdQQE"
      >.ghZqXYdQQE {

}
.ghZqXYdQQE p {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g6EWf-CF0L"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6EWf-CF0L gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzDqju9y7k gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gpg10AmJWb"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpg10AmJWb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gBclJkyLCG gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g1h-wSNtcT"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1h-wSNtcT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gVa5OULfmn gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gsN0lSHZP2 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:5px;--pb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggsN0lSHZP2_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gsN0lSHZP2"
      >.gsN0lSHZP2 {

}
.gsN0lSHZP2 p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gyMBPaYnrf gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ghy7cfQt4r "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghy7cfQt4r_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-ghy7cfQt4r"
      >.ghy7cfQt4r {

}
.ghy7cfQt4r p {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gl9S4qgj-A"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gl9S4qgj-A gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gnvs2QSxwn gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g2_ttycDMu"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2_ttycDMu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gWC5mo_kgh gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="ginR5sbJTN "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:5px;--pb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gginR5sbJTN_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-ginR5sbJTN"
      >.ginR5sbJTN {

}
.ginR5sbJTN p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gLpBD3SMlC gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gBoLpe2nem "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBoLpe2nem_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gBoLpe2nem"
      >.gBoLpe2nem {

}
.gBoLpe2nem p {

}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="giZ-8cA3i_"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giZ-8cA3i_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gm2JnVxq2W gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g_u0ECHtRO "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:5px;--pb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_u0ECHtRO_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g_u0ECHtRO"
      >.g_u0ECHtRO {

}
.g_u0ECHtRO p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ghTEDpSF2I gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g_mpPNi8eI "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_mpPNi8eI_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g_mpPNi8eI"
      >.g_mpPNi8eI {

}
.g_mpPNi8eI p {

}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gseavfGgtu"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gseavfGgtu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gwJtBDvBq4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g23c0_XhN4 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:5px;--pb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg23c0_XhN4_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g23c0_XhN4"
      >.g23c0_XhN4 {

}
.g23c0_XhN4 p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="geJjeHxP6C gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gm6nMgMxpg "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggm6nMgMxpg_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-gm6nMgMxpg"
      >.gm6nMgMxpg {

}
.gm6nMgMxpg p {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g_seTQPPYp"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_seTQPPYp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_0z1qYp7r gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gqSQRfVSDk"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqSQRfVSDk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gwVPvr4rSp gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g2Sj5NBmak "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:5px;--pb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2Sj5NBmak_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g2Sj5NBmak"
      >.g2Sj5NBmak {

}
.g2Sj5NBmak p {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gu9PVvthik gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g5OPiDVyvU "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:14px;--c:#7D8B47;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg5OPiDVyvU_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g5OPiDVyvU"
      >.g5OPiDVyvU {

}
.g5OPiDVyvU p {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gbSugbpUCa"
        style="--mt:-6px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbSugbpUCa gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g8rzOiG7fn gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gLkkAIeTSC"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml:0px;--pl:0px;--pr:10px;--ml-mobile:0px;--pl-mobile:10px;--pb-mobile:10px;--pr-mobile:10px;--ta:right"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:right"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_509069249558348903-011c3fc2-7342-448c-aae3-76d39d33a81e.png" | file_url }}" srcset="{{ 'gempages_509069249558348903-011c3fc2-7342-448c-aae3-76d39d33a81e.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-011c3fc2-7342-448c-aae3-76d39d33a81e.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-011c3fc2-7342-448c-aae3-76d39d33a81e.png' | file_img_url: 'master' }} 1440w" width="945" height="258" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--w:60%;--w-tablet:60%;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_509069249558348903-011c3fc2-7342-448c-aae3-76d39d33a81e.png" | file_url }}" data-srcset="{{ 'gempages_509069249558348903-011c3fc2-7342-448c-aae3-76d39d33a81e.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-011c3fc2-7342-448c-aae3-76d39d33a81e.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-011c3fc2-7342-448c-aae3-76d39d33a81e.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="945" height="258" alt="Alt image"
      sizes="100vw"
      style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--w:60%;--w-tablet:60%;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gLkkAIeTSC"
      >.gLkkAIeTSC {

}
.gLkkAIeTSC > figure > img {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_285-Yjzf gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g8Ac7WKe11"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mr:0px;--pl:0px;--pr:0px;--mr-mobile:0px;--pl-mobile:10px;--pr-mobile:10px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_509069249558348903-89aee6c9-164a-4520-afed-7fb8dfd98e41.png" | file_url }}" srcset="{{ 'gempages_509069249558348903-89aee6c9-164a-4520-afed-7fb8dfd98e41.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-89aee6c9-164a-4520-afed-7fb8dfd98e41.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-89aee6c9-164a-4520-afed-7fb8dfd98e41.png' | file_img_url: 'master' }} 1440w" width="945" height="258" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:945/258;--aspect-tablet:945/258;--aspect-mobile:945/258;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_509069249558348903-89aee6c9-164a-4520-afed-7fb8dfd98e41.png" | file_url }}" data-srcset="{{ 'gempages_509069249558348903-89aee6c9-164a-4520-afed-7fb8dfd98e41.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-89aee6c9-164a-4520-afed-7fb8dfd98e41.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-89aee6c9-164a-4520-afed-7fb8dfd98e41.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="945" height="258" alt="Alt image"
      sizes="100vw"
      style="--aspect:945/258;--aspect-tablet:945/258;--aspect-mobile:945/258;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-g8Ac7WKe11"
      >.g8Ac7WKe11 {

}
.g8Ac7WKe11 > figure > img {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gRVVJWudII gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gBWEGJ614T"
    style="--pt:60px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_509069249558348903-9cafc02e-ac1a-4b07-818c-0af041a0ba44.jpg" | file_url }}" srcset="{{ 'gempages_509069249558348903-9cafc02e-ac1a-4b07-818c-0af041a0ba44.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-9cafc02e-ac1a-4b07-818c-0af041a0ba44.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-9cafc02e-ac1a-4b07-818c-0af041a0ba44.jpg' | file_img_url: 'master' }} 1440w" width="1756" height="974" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1756/974;--aspect-tablet:1756/974;--aspect-mobile:1756/974;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_509069249558348903-9cafc02e-ac1a-4b07-818c-0af041a0ba44.jpg" | file_url }}" data-srcset="{{ 'gempages_509069249558348903-9cafc02e-ac1a-4b07-818c-0af041a0ba44.jpg' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-9cafc02e-ac1a-4b07-818c-0af041a0ba44.jpg' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-9cafc02e-ac1a-4b07-818c-0af041a0ba44.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1756" height="974" alt="Alt image"
      sizes="100vw"
      style="--aspect:1756/974;--aspect-tablet:1756/974;--aspect-mobile:1756/974;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gBWEGJ614T"
      >.gBWEGJ614T {

}
.gBWEGJ614T > figure > img {

}</style>
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 8",
      "tag": "section",
      "class": "gps-513820934533022704 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=511770980264182951&sectionId=513820934533022704)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"ggzP_qJXK0F_text","label":"ggzP_qJXK0F_text","default":"<strong>Muito mais economia</strong>"},{"type":"text","id":"ggoNji6gd08_text","label":"ggoNji6gd08_text","default":"<p><strong>Ingredientes&nbsp;</strong></p>"},{"type":"text","id":"ggN3-haoAMI_text","label":"ggN3-haoAMI_text","default":"<p><strong>Preo por unidade</strong></p>"},{"type":"text","id":"ggHzw01M79b_text","label":"ggHzw01M79b_text","default":"<p><strong>Mix de Greens &amp; Superfoods</strong></p>"},{"type":"text","id":"ggA4GWqoWl1_text","label":"ggA4GWqoWl1_text","default":"<p><strong>R$ 3,87</strong></p>"},{"type":"text","id":"ggzzTMYa3gS_text","label":"ggzzTMYa3gS_text","default":"<p><strong>1 colher de ch de Spirulina</strong></p>"},{"type":"text","id":"gg2oUQZPPQu_text","label":"gg2oUQZPPQu_text","default":"<p><strong>R$ 0,75</strong></p>"},{"type":"text","id":"ggCS6yrrYcB_text","label":"ggCS6yrrYcB_text","default":"<p><strong>1 colher de ch de Chlorella</strong></p>"},{"type":"text","id":"gghZqXYdQQE_text","label":"gghZqXYdQQE_text","default":"<p><strong>R$ 0,64</strong></p>"},{"type":"text","id":"ggsN0lSHZP2_text","label":"ggsN0lSHZP2_text","default":"<p><strong>1 colher de ch de Crcuma</strong></p>"},{"type":"text","id":"gghy7cfQt4r_text","label":"gghy7cfQt4r_text","default":"<p><strong>R$ 1,17</strong></p>"},{"type":"text","id":"gginR5sbJTN_text","label":"gginR5sbJTN_text","default":"<p><strong>Mix de Antioxidantes</strong></p>"},{"type":"text","id":"ggBoLpe2nem_text","label":"ggBoLpe2nem_text","default":"<p><strong>R$ 1,43</strong></p>"},{"type":"text","id":"gg_u0ECHtRO_text","label":"gg_u0ECHtRO_text","default":"<p><strong>Blend de Fibras</strong></p>"},{"type":"text","id":"gg_mpPNi8eI_text","label":"gg_mpPNi8eI_text","default":"<p><strong>R$ 1,11</strong></p>"},{"type":"text","id":"gg23c0_XhN4_text","label":"gg23c0_XhN4_text","default":"<p><strong>30mg Biotina</strong></p>"},{"type":"text","id":"ggm6nMgMxpg_text","label":"ggm6nMgMxpg_text","default":"<p><strong>R$ 1,07</strong></p>"},{"type":"text","id":"gg2Sj5NBmak_text","label":"gg2Sj5NBmak_text","default":"<p><strong>Blend de Vitaminas</strong></p>"},{"type":"text","id":"gg5OPiDVyvU_text","label":"gg5OPiDVyvU_text","default":"<p><strong>R$2,25</strong></p>"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
