
  <style> @import url('https://fonts.googleapis.com/css?family=Assistant:400|Athletics+Regular:400|Athletics+Bold:400&display=swap'); </style>
  <style> .gps-511436197898224568 .focus\:\!gp-shadow-none,.gps-511436197898224568 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-511436197898224568 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-511436197898224568 .\!gp-g-s-large{padding:12px 32px!important}.gps-511436197898224568 .gp-invisible{visibility:hidden}.gps-511436197898224568 .gp-fixed{position:fixed}.gps-511436197898224568 .gp-absolute{position:absolute}.gps-511436197898224568 .gp-relative{position:relative}.gps-511436197898224568 .gp-top-\[27px\]{top:27px}.gps-511436197898224568 .gp-z-1{z-index:1}.gps-511436197898224568 .gp-z-100{z-index:100}.gps-511436197898224568 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-511436197898224568 .gp-mb-0{margin-bottom:0}.gps-511436197898224568 .\!gp-inline{display:inline!important}.gps-511436197898224568 .gp-flex{display:flex}.gps-511436197898224568 .gp-inline-flex{display:inline-flex}.gps-511436197898224568 .gp-grid{display:grid}.gps-511436197898224568 .\!gp-hidden{display:none!important}.gps-511436197898224568 .gp-hidden{display:none}.gps-511436197898224568 .\!gp-h-auto{height:auto!important}.gps-511436197898224568 .gp-h-5{height:20px}.gps-511436197898224568 .gp-h-full{height:100%}.gps-511436197898224568 .gp-w-5{width:20px}.gps-511436197898224568 .gp-w-full{width:100%}.gps-511436197898224568 .gp-max-w-full{max-width:100%}.gps-511436197898224568 .gp-shrink-0{flex-shrink:0}.gps-511436197898224568 .gp-flex-col{flex-direction:column}.gps-511436197898224568 .gp-items-center{align-items:center}.gps-511436197898224568 .gp-justify-center{justify-content:center}.gps-511436197898224568 .gp-gap-y-0{row-gap:0}.gps-511436197898224568 .gp-overflow-hidden{overflow:hidden}.gps-511436197898224568 .gp-break-words{overflow-wrap:break-word}.gps-511436197898224568 .gp-rounded{border-radius:4px}.gps-511436197898224568 .gp-rounded-none{border-radius:0}.gps-511436197898224568 .\!gp-bg-none{background-image:none!important}.gps-511436197898224568 .gp-p-\[16px\]{padding:16px}.gps-511436197898224568 .gp-text-\[14px\]{font-size:14px}.gps-511436197898224568 .gp-leading-normal{line-height:1.5}.gps-511436197898224568 .gp-no-underline{text-decoration-line:none}.gps-511436197898224568 .gp-opacity-25{opacity:.25}.gps-511436197898224568 .gp-opacity-75{opacity:.75}.gps-511436197898224568 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-511436197898224568 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511436197898224568 .gp-duration-200{transition-duration:.2s}.gps-511436197898224568 .gp-duration-300{transition-duration:.3s}.gps-511436197898224568 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-511436197898224568 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-511436197898224568 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-511436197898224568 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-511436197898224568 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-511436197898224568 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-511436197898224568 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-511436197898224568 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-511436197898224568 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-511436197898224568 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-511436197898224568 .tablet\:\!gp-hidden{display:none!important}.gps-511436197898224568 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-511436197898224568 .mobile\:\!gp-hidden{display:none!important}.gps-511436197898224568 .mobile\:gp-hidden{display:none}}.gps-511436197898224568 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-511436197898224568 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-511436197898224568 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-511436197898224568 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-511436197898224568 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-511436197898224568 .\[\&_p\]\:gp-inline p{display:inline}.gps-511436197898224568 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-511436197898224568 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-511436197898224568 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gwlZ6PjB8B"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#3D4326"
        class="gwlZ6PjB8B gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guxGVLC1ym gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gp0x0PEbmw"
        style="--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gp0x0PEbmw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4QM8D7LJk gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:32px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    class=""
  >
    <style>
    .gCDXkQXKPI.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
    }

    .gCDXkQXKPI:hover::before {
      
      
    }
  </style>
    <a
      href="https://www.instagram.com/vivajui/" target="_self" data-id="gCDXkQXKPI" aria-label="Siga-nos no Instagram"
      
      data-state="idle"
      class="gCDXkQXKPI gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#B3D825;--bg:#B3D825;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--shadow:none;--hvr-c:#121212;--c:#121212;--w:Auto;--w-tablet:Auto;--w-mobile:70%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:5px;--pb:5px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:5px;--pb-mobile:5px;--tt:default;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--lh:180%;--size:25px;--size-tablet:16px;--size-mobile:21px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817577248620904">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,72a24,24,0,1,1,24-24A24,24,0,0,1,128,152ZM176,20H80A60.07,60.07,0,0,0,20,80v96a60.07,60.07,0,0,0,60,60h96a60.07,60.07,0,0,0,60-60V80A60.07,60.07,0,0,0,176,20Zm36,156a36,36,0,0,1-36,36H80a36,36,0,0,1-36-36V80A36,36,0,0,1,80,44h96a36,36,0,0,1,36,36ZM196,76a16,16,0,1,1-16-16A16,16,0,0,1,196,76Z" /></svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Siga-nos no Instagram
      </span>
    </a>
  </div>
  </gp-button>

      
      
    <div
      parentTag="Col" id="gbePETRGvR"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:10px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbePETRGvR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gCBgwk2V_O gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g0BNYnVmca"
        style="--mt:0px;--ml:auto;--mb:64px;--mr:auto;--pt:32px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:20px;--mr-mobile:auto;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0BNYnVmca gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gMfIR-Zh0I gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gQq5ZwR746"
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px;--ta:left;--ta-mobile:center"
    >
      <a
        class="pointer-events-auto h-full"
        href="/pages/pagina-inicial" target="_self" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left;--ta-mobile:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "509069249558348903-b1d63148-89a9-4748-8951-7e67bee1ebc1.svg" | file_url }}" srcset="{{ '509069249558348903-b1d63148-89a9-4748-8951-7e67bee1ebc1.svg' | file_url }} 768w, {{ '509069249558348903-b1d63148-89a9-4748-8951-7e67bee1ebc1.svg' | file_url }} 1024w, {{ '509069249558348903-b1d63148-89a9-4748-8951-7e67bee1ebc1.svg' | file_url }} 1440w" width="353" height="167" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:353/167;--aspect-tablet:353/167;--aspect-mobile:353/167;--objf:contain;--w:50%;--w-tablet:50%;--w-mobile:50%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "509069249558348903-b1d63148-89a9-4748-8951-7e67bee1ebc1.svg" | file_url }}" data-srcset="{{ '509069249558348903-b1d63148-89a9-4748-8951-7e67bee1ebc1.svg' | file_url }} 768w, {{ '509069249558348903-b1d63148-89a9-4748-8951-7e67bee1ebc1.svg' | file_url }} 1024w, {{ '509069249558348903-b1d63148-89a9-4748-8951-7e67bee1ebc1.svg' | file_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="353" height="167" alt="Alt image"
      sizes="100vw"
      style="--aspect:353/167;--aspect-tablet:353/167;--aspect-mobile:353/167;--objf:contain;--w:50%;--w-tablet:50%;--w-mobile:50%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
    />
  {%- endif -%}
  
      </a>
  </div>
    <div
      parentTag="Col"
        class="gelMhPZWYg "
        style="--ta:left;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--weight:bold;--c:rgb(170, 170, 170);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >Viver bem e tudo de Jui</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g05KV6QHxa "
        style="--ta:left;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:18px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--weight:bold;--c:rgb(170, 170, 170);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >contato@vivajui.com</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gIjMqyzjM4 "
        style="--ta:left;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--weight:bold;--c:rgb(167, 167, 166);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >+55 (21) 97255-8155</div>
      </div>
    </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtrDt3Gkef gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gdUV3nzXa8 "
        style="--ta:left;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:10px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(253, 253, 253);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >INSTITUCIONAL</div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gPxyQVsXOc.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gPxyQVsXOc:hover::before {
      
      
    }
  </style>
    <a
      href="#g6DtoeMeTb" target="_self" data-id="gPxyQVsXOc" aria-label="CONHECA A JUI"
      
      data-state="idle"
      class="gPxyQVsXOc gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:#00000000;--hvr-bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:#AAAAAA;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:5px;--pb:5px;--tt:default;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--lh:180%;--size:15px;--size-tablet:16px;--size-mobile:14px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        CONHECA A JUI
      </span>
    </a>
  </div>
  </gp-button>

  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .g7Nfv7XF-V.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g7Nfv7XF-V:hover::before {
      
      
    }
  </style>
    <a
      href="#gZQDtb5Fxv" target="_self" data-id="g7Nfv7XF-V" aria-label="VAI DE JUI"
      
      data-state="idle"
      class="g7Nfv7XF-V gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:#00000000;--hvr-bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:#AAAAAA;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:5px;--pb:5px;--tt:default;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--lh:180%;--size:15px;--size-tablet:16px;--size-mobile:14px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        VAI DE JUI
      </span>
    </a>
  </div>
  </gp-button>

  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .grY8Br67HF.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .grY8Br67HF:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="grY8Br67HF" aria-label="BLOG"
      
      data-state="idle"
      class="grY8Br67HF gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:#00000000;--hvr-bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:#AAAAAA;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:5px;--pb:5px;--tt:default;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--lh:180%;--size:15px;--size-tablet:16px;--size-mobile:14px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        BLOG
      </span>
    </button>
  </div>
  </gp-button>

  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gZhp-2Br2N.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gZhp-2Br2N:hover::before {
      
      
    }
  </style>
    <a
      href="{{ shop.url }}{{ routes.root_url | split: '/' | join: '/' }}/pages/check-out" target="_self" data-id="gZhp-2Br2N" aria-label="POLÍTICA DE PRIVACIDADE"
      
      data-state="idle"
      class="gZhp-2Br2N gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:#00000000;--hvr-bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:#AAAAAA;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:5px;--pb:5px;--tt:default;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--lh:180%;--size:15px;--size-tablet:16px;--size-mobile:14px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        POLÍTICA DE PRIVACIDADE
      </span>
    </a>
  </div>
  </gp-button>

    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gbdoThim3X gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gcVYAvAMdc "
        style="--ta:left;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(252, 252, 252);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >AJUDA E SUPORTE</div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gWrTaWusk9.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gWrTaWusk9:hover::before {
      
      
    }
  </style>
    <a
      href="{{ shop.url }}{{ routes.root_url | split: '/' | join: '/' }}/pages/faq" target="_self" data-id="gWrTaWusk9" aria-label="DUVIDAS"
      
      data-state="idle"
      class="gWrTaWusk9 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:#00000000;--hvr-bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:#AAAAAA;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:5px;--pb:5px;--tt:default;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--lh:180%;--size:15px;--size-tablet:16px;--size-mobile:14px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        DUVIDAS
      </span>
    </a>
  </div>
  </gp-button>

  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gAMH44w28Y.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gAMH44w28Y:hover::before {
      
      
    }
  </style>
    <a
      href="{{ shop.url }}{{ routes.root_url | split: '/' | join: '/' }}/pages/fale-conosco" target="_self" data-id="gAMH44w28Y" aria-label="FALE CONOSCO"
      
      data-state="idle"
      class="gAMH44w28Y gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:#00000000;--hvr-bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:#AAAAAA;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:5px;--pb:5px;--tt:default;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--lh:180%;--size:15px;--size-tablet:16px;--size-mobile:14px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        FALE CONOSCO
      </span>
    </a>
  </div>
  </gp-button>

  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gR2HnfeU3T.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gR2HnfeU3T:hover::before {
      
      
    }
  </style>
    <a
      href="{{ shop.url }}{{ routes.root_url | split: '/' | join: '/' }}/pages/politica-de-entrega" target="_self" data-id="gR2HnfeU3T" aria-label="ENTREGA"
      
      data-state="idle"
      class="gR2HnfeU3T gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:#00000000;--hvr-bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:#AAAAAA;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:5px;--pb:5px;--tt:default;--ff:var(--g-font-Athletics-Regular, 'Athletics Regular'), var(--g-font-body, body);--lh:180%;--size:15px;--size-tablet:16px;--size-mobile:14px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        ENTREGA
      </span>
    </a>
  </div>
  </gp-button>

  <gp-button style="">
  <div
    
    style="--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gyr0tre_iH.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gyr0tre_iH:hover::before {
      
      
    }
  </style>
    <a
      href="{{ shop.url }}{{ routes.root_url | split: '/' | join: '/' }}/pages/politicas-de-troca-cancelamento-e-devolucao" target="_self" data-id="gyr0tre_iH" aria-label="POLITICA DE TROCA CANCELAMENTOS E DEVOLUCOES"
      
      data-state="idle"
      class="gyr0tre_iH gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:#00000000;--hvr-bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--c:#AAAAAA;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:5px;--pb:5px;--tt:default;--ff:var(--g-font-Athletics-Bold, 'Athletics Bold'), var(--g-font-body, body);--lh:180%;--size:15px;--size-tablet:16px;--size-mobile:14px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        POLITICA DE TROCA CANCELAMENTOS E DEVOLUCOES
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gqU8ooIAL5 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gN940I4KCX "
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:32px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:17px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--ff:var(--g-font-Athletics-Bold, 'Athletics Bold'), var(--g-font-body, body);--weight:400;--lh:130%;--size:29px;--size-tablet:32px;--size-mobile:29px;--c:rgb(254, 254, 254);word-break:break-word;overflow:hidden"
        >Newsletter</h2>
      </div>
    </div><div style="--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:32px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:64px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--radius:var(--g-radius-none);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%;--animation:[object Object]" class="gNDUqBb3-T ">
      
    <gp-form 
      id="gNDUqBb3-T"
      style=""
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gNDUqBb3-T"
        href="" target="_self"
      >
      </a>
      {% form 'customer', class: 'gp-form-gNDUqBb3-T ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gNDUqBb3-T"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Não é possível enviar e-mail. Por favor, tente novamente mais tarde.
          </div>
        {% endif %}
        <div
          id="gp-form-success-gNDUqBb3-T"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Obrigado por nos contatar. Entraremos em contato com você o mais breve possível.
        </div>
        
      
      
    <div
      parentTag="Newsletter" id="gQVmoCSfyT"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:0px;--cg-mobile:0px;--pc:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQVmoCSfyT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gLFWVPZj_K gp-relative gp-flex gp-flex-col"
    >
      
    <div
      class="gaEy_Y3PJw"
      style="--d:block;--d-tablet:block;--d-mobile:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-g-s-large !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--w:100%;--w-tablet:313px;--w-mobile:100%;--b:solid;--bc:var(--g-c-line-2, line-2);--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="Email"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--mt:16px;--mb:18px;--ta:left"
    class=""
  >
    <style>
    .g524x7nRqZ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g524x7nRqZ:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }
  </style>
    <button
      type="submit" data-id="g524x7nRqZ" aria-label="INSCREVA-SE"
      
      data-state="idle"
      class="g524x7nRqZ gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-g-paragraph-1"
      style="--bg:#B3D825;--hvr-bg:var(--g-c-highlight, highlight);--shadow:none;--c:#121212;--w:;--w-tablet:;--w-mobile:;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:8px;--pb:8px;--tt:default;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        INSCREVA-SE
      </span>
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
  
    
      {% endform %}
    </gp-form>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gJ4KQncJkV"
        style="--pt:0px;--pl:var(--g-s-l);--pb:0px;--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJ4KQncJkV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gbIOn0sGYT gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left;--ta-mobile:center"
    class=""
  >
    <style>
    .gbfpDuu_bw.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }

    .gbfpDuu_bw:hover::before {
      
      
    }
  </style>
    <a
      href="https://www.instagram.com/vivajui/" target="_self" data-id="gbfpDuu_bw" aria-label
      
      data-state="idle"
      class="gbfpDuu_bw gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#B3D825;--bg:#B3D825;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--shadow:none;--hvr-c:#121212;--c:#121212;--w:Auto;--w-tablet:Auto;--w-mobile:20%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:10px;--pr:10px;--pt:10px;--pb:10px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:5px;--pb-mobile:5px;--tt:default;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--lh:180%;--size:25px;--size-tablet:16px;--size-mobile:24px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817577248620904">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,72a24,24,0,1,1,24-24A24,24,0,0,1,128,152ZM176,20H80A60.07,60.07,0,0,0,20,80v96a60.07,60.07,0,0,0,60,60h96a60.07,60.07,0,0,0,60-60V80A60.07,60.07,0,0,0,176,20Zm36,156a36,36,0,0,1-36,36H80a36,36,0,0,1-36-36V80A36,36,0,0,1,80,44h96a36,36,0,0,1,36,36ZM196,76a16,16,0,1,1-16-16A16,16,0,0,1,196,76Z" /></svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        
      </span>
    </a>
  </div>
  </gp-button>

    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gabDZ-Dg6n gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gvyy3d1zBh"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mr:40px;--mr-mobile:0px;--ta:left;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left;--ta-mobile:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "gempages_509069249558348903-203273c8-c382-499d-a5e2-de8699ff8f50.png" | file_url }}" srcset="{{ 'gempages_509069249558348903-203273c8-c382-499d-a5e2-de8699ff8f50.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-203273c8-c382-499d-a5e2-de8699ff8f50.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-203273c8-c382-499d-a5e2-de8699ff8f50.png' | file_img_url: 'master' }} 1440w" width="475" height="39" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:auto;--aspect-tablet:475/39;--aspect-mobile:475/39;--objf:contain;--w:350%;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "gempages_509069249558348903-203273c8-c382-499d-a5e2-de8699ff8f50.png" | file_url }}" data-srcset="{{ 'gempages_509069249558348903-203273c8-c382-499d-a5e2-de8699ff8f50.png' | file_img_url: '768x768' }} 768w, {{ 'gempages_509069249558348903-203273c8-c382-499d-a5e2-de8699ff8f50.png' | file_img_url: '1024x1024' }} 1024w, {{ 'gempages_509069249558348903-203273c8-c382-499d-a5e2-de8699ff8f50.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="475" height="39" alt="Alt Image"
      sizes="100vw"
      style="--aspect:auto;--aspect-tablet:475/39;--aspect-mobile:475/39;--objf:contain;--w:350%;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 11",
      "tag": "section",
      "class": "gps-511436197898224568 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/97a454-43/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=511251766583493560&sectionId=511436197898224568)"
        },
        {
          "type": "text",
          "label": "section_preload",
          "id": "section_preload",
          "default": "false"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
