{% style %}
  @keyframes faixa {
    from {transform: translateX(0);}
    to {transform: translateX(-50%);}
  }

  .faixa {
    background: {{ section.settings.marquee-color }};
    height: {{ section.settings.height }}px;
    padding: {{ section.settings.padding }}px 0;
    font-size: {{ section.settings.text-size }}px;
    line-height: {{ section.settings.text-size }}px;
    overflow: hidden;
  }

  .faixa_wrapper {
    display: flex;
    gap: {{ section.settings.margin }}px;
    width: max-content;
    animation: faixa 16s linear infinite;
  }
  .icon-text_wrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .marquee_image {
    max-height: 100%;
    width: auto;
  }

  .marquee_image-wrapper {
    display: flex;
    height: 100%;
  }
{% endstyle %}

<div class="faixa">
  <div class="faixa_wrapper">
    {% for i in (1..2) %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'icon-text' %}
            <div class="icon-text_wrapper">
              <span
                style="color: {{ block.settings.text-color }};"
              >
                {{ block.settings.text }}
              </span>
              {% if block.settings.icon != blank %}
                <img height="" width=""
                  src="{{ block.settings.icon | image_url }}"
                  class="marquee_image"
                  loading="lazy"
                >
              {% endif %}
            </div>
          {% when 'image' %}
            <img height="" width=""
              class="marquee_image"
              src="{{ block.settings.image | image_url }}"
              loading="lazy"
              style="{% if block.settings.full_height %}height: 100%;{% endif %}"
            >
          {% when 'partner' %}
            <a href="{{ block.settings.link }}" class="marquee_image-wrapper">
              <img height="" width=""
                class="marquee_image"
                src="{{ block.settings.image | image_url }}"
                loading="lazy"
                style="{% if block.settings.full_height %}height: 100%;{% endif %}"
              >
            </a>
        {% endcase %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Faixa continua by Turbo",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "height",
      "min": 20,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "Altura do letreiro",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Preenchimento vertical do letreiro",
      "default": 0
    },
    {
      "type": "color",
      "id": "marquee-color",
      "label": "Cor do fundo do letreiro"
    },
    {
      "type": "range",
      "id": "margin",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Espaço entre os blocos do letreiro",
      "default": 36
    },
    {
      "type": "range",
      "id": "text-size",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Tamanho da letra",
      "default": 16
    }
  ],
  "blocks": [
    {
      "type": "icon-text",
      "name": "Frase com ícone",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Frase do letreiro"
        },
        {
          "type": "color",
          "id": "text-color",
          "label": "Cor da frase"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Ícone da frase"
        }
      ]
    },
    {
      "type": "image",
      "name": "Imagem",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Escolha a imagem"
        },
        {
          "type": "checkbox",
          "id": "full_height",
          "label": "Preencher altura total do banner",
          "default": true
        }
      ]
    },
    {
      "type": "partner",
      "name": "Parceria",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Escolha a imagem"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link da parceria"
        },
        {
          "type": "checkbox",
          "id": "full_height",
          "label": "Preencher altura total do banner",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Faixa continua by Turbo",
      "blocks": [
        {
          "type": "icon-text"
        }
      ]
    }
  ]
}
{% endschema %}