{% schema %}
{
    "name": "TP - Info Nutricionais",
    "settings": [
            {
                "type": "url",
                "id": "info__url-image",
                "label": "URL da Imagem"
            },
            {
                "type": "color",
                "id": "info__color",
                "label": "Cor do Fundo",
                "default": "#E375DA"
            },
            {
                "type": "text",
                "id": "info__title",
                "label": "Título da Seção",
                "default": "Informações nutricionais"
            },
            {
                "type": "textarea",
                "id": "info__text",
                "label": "Texto Informativo",
                "default": "Com uma composição nutricional de energia, vitaminas e minerais essenciais, Jui oferece a nutrição perfeita para o seu dia."
            },
            {
                "type": "url",
                "id": "info__url-cta",
                "label": "URL do Botão"
            },
            {
                "type": "text",
                "id": "info__cta-text",
                "label": "Texto do Botão",
                "default": "Comprar agora"
            },
            {
                "type": "select",
                "id": "image_layout",
                "label": "Posição da Imagem",
                "options": [
                    {
                        "value": "left",
                        "label": "Imagem à Esquerda"
                    },
                    {
                        "value": "right",
                        "label": "Imagem à Direita"
                    }
                ],
                "default": "right"
            }
        ],
    "presets": [
        {
            "name": "TP - Informações Nutricionais"
        }
    ]
}
{% endschema %}

{% liquid
  if section.settings.image_layout == 'right'
    assign image_class = 'order-2'
    assign text_class = 'order-1'
  else
    assign image_class = 'order-1'
    assign text_class = 'order-2'
  endif
%}

<div class="{{ section.id }} page-width">
    <div class="{{ section.id }}__content">
        <div class="{{ section.id }}__column1 {{ image_class }}">
            <div class="{{ section.id }}__image">
                <img src="{{ section.settings.info__url-image }}" alt="Imagem de Informação Nutricional">
            </div>
            <div class="{{ section.id }}__image-bg"></div>
        </div>
        <div class="{{ section.id }}__column2 {{ text_class }}">
            <h2>{{ section.settings.info__title }}</h2>
            <div class="{{ section.id }}__text">
                <p>{{ section.settings.info__text }}</p>
            </div>
            <a href="{{ section.settings.info__url-cta }}" class="button">{{ section.settings.info__cta-text }}</a>
        </div>
    </div>
</div>

{% style %}
    
    .{{ section.id }}__content {
        display: flex;
        padding-block: 5rem;
        flex-direction: column;
    }
    .{{ section.id }}__column1 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top:3.4rem;
    }
    .{{ section.id }}__image {
        z-index: 1;
        display: flex;
    }
    .{{ section.id }}__image > img {
        display: flex;
        width: 358px;
        border-radius: 5.114px;
        margin: 0 auto;
    }
    .{{ section.id }}__image-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: {{ section.settings.info__color }};
        width: 400px;
        height: 400px;
        border-radius: 50%;
        z-index: 0;
    }
    .{{ section.id }}__column2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .{{ section.id }}__column2 > h2 {
        font-size: 3rem;
        margin: 1.6rem 0;
        text-align:center;
    }
    .{{ section.id }}__text > p {
        margin: 0;
        text-align:center;
    }
    .button {
        display: flex;
        padding: 18px 32px;
        justify-content: center;
        align-items: center;
        gap: 1px;
        border-radius: 3;
        background: #b3d825;
        color: white;
        text-decoration: none;
    }
    @media screen and (min-width: 728px) {
        .{{ section.id }}__content {
            gap: 1.6rem;
            align-items: flex-start;
            flex-direction:row-reverse;
        }
        .{{ section.id }}__image > img {
            width: 560px;
        }
        .{{ section.id }}__column2 {
            padding-top:6.4rem;
        }
        .{{ section.id }}__column2 > h2 {
        text-align:left;
    }
    .{{ section.id }}__text > p {
        text-align:left;
    }

    }
{% endstyle %}
