{% schema %}
{
    "name": "TP - vídeo slides",
    "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Título",
                "default": "Seu pão nunca foi tão Gostoso e Prático"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Estrela"
            }
        ],
    "max_blocks": 8,
    "blocks": [
        {
            "type": "card",
            "name": "Card",
            "settings": [
                {
                    "type": "url",
                    "id": "url__video",
                    "label": "URL do Vídeo"
                },
              {
                "type": "video",
                "id": "video",
                "label": "Video",

              }
            ]
        }
    ],
    "presets": [
        {"name": "TP - Prático"}
    ]
}
{% endschema %}

<div class="{{ section.id }}">
  <div class="page-width">
    <div class="{{ section.id }}-title">
      <h1>{{ section.settings.title }}</h1>
      <!-- <img src="{{ section.settings.image | img_url }}" alt="stars"> -->
    </div>

    <div class="{{ section.id }}-swiper">
      <div class="{{ section.id }}-swiper-wrapper swiper-wrapper">
        {% for block in section.blocks %}
          <div class="{{ section.id }}-swiper-slide swiper-slide">
            {{ block.settings.video | video_tag: controls: true }}
            {% comment %}<video src="{{ block.settings.url__video }}"></video>{% endcomment %}
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
          <path d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8z"/><path d="M13.293 7.293 8.586 12l4.707 4.707 1.414-1.414L11.414 12l3.293-3.293-1.414-1.414z"/>
        </svg>
      </div>
      <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
          <path d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8z"/><path d="M13.293 7.293 8.586 12l4.707 4.707 1.414-1.414L11.414 12l3.293-3.293-1.414-1.414z"/>
        </svg>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiperPratica = new Swiper('.{{ section.id }}-swiper', {
      direction: 'horizontal',
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      loop: false,
      slidesPerView: 2,
      spaceBetween: 10,
      breakpoints: {
        320: {
          slidesPerView: 2,
          spaceBetween: 10
        },
        728: {
          slidesPerView: 4,
          spaceBetween: 10
        }
      }
    });

    // Add the 'initialized' class once the Swiper is fully initialized
    swiperPratica.on('init', function () {
      document.querySelector('.{{ section.id }}-swiper').classList.add('initialized');
    });

    // Initialize the Swiper to trigger the 'init' event
    swiperPratica.init();
  });
</script>

{% style %}
  .swiper-button-next, swiper-button-prev {
    width: 20px;
    height: 20px;
    background: yellow;
  }

  .{{ section.id }}{
      padding-top: 4rem;
      padding-bottom: 2rem;
      /* background: linear-gradient(0deg, rgba(255,255,255,1) 53%, rgba(255,243,220,1) 53%); */
      background: rgba(255,243,220,1);
      width: 100%;
      overflow: hidden;
  }

  .{{ section.id }}-swiper {
    overflow: hidden;
  }


  .{{ section.id }}-title{
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
      font-family: 'Assistant';
  }
  .{{ section.id }}-title > h1 {
      text-align: center;
      font-size: 3.2rem;
  }

  .{{ section.id }}-swiper-slide > video{
      width: 100%;
      border-radius: 1rem;
  }
{% endstyle %}
